	
<script type="text/javascript">	
	$('div.embed_code').hide(); // get rid of embed codes
	</script>
	
	
		<div class="profile">
	
		<div id="photo"><img src='/static/stylesheets/img/profile/44124297297.jpg'/></div>
		<div id="basics">
		<div id="name">Adam Richards</div>
		<div id="profession">Sales Specialist</div>
		</div>
		
            <ul id="main_nav">
                <li class="ui-tabs-nav-item" id="profile_nav">
                
                <a href="#summary">Summary</a></li>
                <li class="ui-tabs-nav-item"><a href="#portfolio">Top Scores</a></li>
            </ul>
            <div id="summary" class="profile-panel">

                <div class="panel_content" >
                
             <h2>Skill Cloud</h2>
                
              <div class="dynacloud" id="dynacloud">  Home Area Network  Home Area Network  Home Area Network  Home Area Network  Home Area Network  Auto-Electric  Auto-Electric  Auto-Electric  Auto-Electric  Auto-Electric  Tax Rebates  Tax Rebates  Tax Rebates  Tax Rebates  Tax Rebates  Tax Rebates  Tax Rebates  Tax Rebates  Tax Rebates  Tax Rebates  Energy STAR  Energy STAR   Energy STAR  Energy STAR  Energy STAR  Energy STAR  Subsidies  Subsidies  Subsidies  Subsidies  Subsidies  Emissions Trading  Emissions Trading  Compliance  Compliance  Compliance  Compliance  Offsets  Offsets  Offsets  Green Tax Shift  Carbon Neutral  Carbon Neutral  Carbon Neutral  Cap and Share  Cap and Share  Cap and Share  Cap and Share </div>
                </div>
                
                 <div class="panel_content" id="stats">
                
              <div class="stat">   <h2>Range: </h2> <div class="statometer"><img src="http://chart.apis.google.com/chart?chs=100x55&cht=gom&chd=t:77&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/></div> </div>
                 
              <div class="stat">      <h2>Depth: </h2>  <div class="statometer"><img src="http://chart.apis.google.com/chart?chs=100x55&cht=gom&chd=t:69&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div>  </div>
                 
            </div>
            
            
            
            </div><!-- end summary -->
            
            
            <div id="portfolio" class="profile-panel" >
        
                
                <div class="panel_content" >
                
                <div class="proficiency_name"><h3>Energy Finance</h3></div>
                  <h4 class="percentile"><span>76</span>th percentile</h4>
                <div class="scoreometer"><img src="http://chart.apis.google.com/chart?chs=150x85&cht=gom&chd=t:76&chco=F7F5F4,00ea00&chf=bg,s,F7F5F4"/></div>
                </div>
                
                <div class="panel_content" >
                
                <div class="proficiency_name"><h3> Law &amp; Policy </h3></div>
                  <h4 class="percentile"><span>56</span>th percentile</h4>
                <div class="scoreometer"><img src="http://chart.apis.google.com/chart?chs=150x85&cht=gom&chd=t:56&chco=F7F5F4,00ea00&chf=bg,s,F7F5F4"/></div>
                </div>
      
                
                
                 <div class="panel_content" style="border:none;">
                
                  <div class="proficiency_name"><h3> Energy Efficiency </h3></div>
                  <h4 class="percentile"><span>35</span>th percentile</h4>
                <div class="scoreometer"><img src="http://chart.apis.google.com/chart?chs=150x85&cht=gom&chd=t:35&chco=F7F5F4,00ea00&chf=bg,s,F7F5F4"/></div>
                </div>
                <!-- TODO put this on sidebar
    <div class="embed_code">
                 share your top scores 
                 <input type="text" value='<script type="text/javascript"><a href="http://www.plopquiz.com/"</script>' onClick="$(this).select();" name="score_embed"/>
                 </div> -->
                 
               
            </div><!-- portfolio -->


    <ul id="personal_nav">
		    <li class="ui-tabs-nav-item"><a href="#quote">Quote</a></li>
                <li class="ui-tabs-nav-item"><a href="#info">Info</a></li>
                <li class="ui-tabs-nav-item"><a href="#network">Network</a></li>
                
            </ul>
            <div id="personal">
		<div class="personal_content" id="info"> <div class="info_content">  
		Work Status: <div>Part-Time </div>
		
		Location: <div>Austin, TX</div>

		Interested In: <div>Meeting interesting people, and being passionate.</div>		
		 </div> </div> 
		
		
		<div class="personal_content" id="quote">
		<div class="quote_content">
		"When you have the facts on your side, argue the facts. When you have the law on your side, argue the law. When you have neither, holler.  " 
		<br/><br/>
		-- Al Gore
		 </div> 
		 
		 
		</div>
		
							<div class="personal_content" id="network">
		<div class="network_content"><div class="outside_profile linkedin">LinkedIn Profile</div>
		<div class="network_item following"> 
		Following: 
		
		<div>
		<li>Xcel Energy</li>
		<li>Duke Energy</li>
		<li>Centerpoint</li>
		</div>

		 </div> <!--end info_content-->
		 
			<div class="network_item following"> 


		 </div> <!--end info_content-->	
		
		 </div> 
		 
		 
		</div>
        </div> <!-- personal_nav -->


</div>  <!-- profile --> 

