	
<script type="text/javascript">	
	$('div.embed_code').hide(); // get rid of embed codes
	</script>
	
	
		<div class="profile">
	
		<div id="photo"><img src='/static/stylesheets/img/profile/90884905.jpg'/></div>
		<div id="basics">
		<div id="name">Ann Bush</div>
		<div id="profession">Legal Analyst</div>
		</div>
		
            <ul id="main_nav">
                <li class="ui-tabs-nav-item" id="profile_nav">
                
                <a href="#summary">Summary</a></li>
                <li class="ui-tabs-nav-item"><a href="#portfolio">Top Scores</a></li>
            </ul>
            <div id="summary" class="profile-panel">

                <div class="panel_content" >
                
             <h2>Skill Cloud</h2>
                
              <div class="dynacloud" id="dynacloud"> Biodiversity  Biodiversity  Biodiversity  Biodiversity  Biodiversity  Biodiversity  Species Protection   Species Protection  Species Protection  Species Protection  Species Protection  Air Quality  Air Quality  Air Quality  Air Quality  Air Quality  Air Quality  Impact Review  Impact Review  Impact Review  Impact Review  Impact Review  Home Area Network  Cap and Trade  Cap and Trade  Carbon Tax  Carbon Tax  Compliance  Compliance  Compliance  Home Area Network  Subsidies  Subsidies  Subsidies  Subsidies  Subsidies  Cap and Share  Cap and Share  Cap and Share  Cap and Share  </div>
                </div>
                
                 <div class="panel_content" id="stats">
                
              <div class="stat">   <h2>Range: </h2> <div class="statometer"><img src="http://chart.apis.google.com/chart?chs=100x55&cht=gom&chd=t:77&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/></div> </div>
                 
              <div class="stat">      <h2>Depth: </h2>  <div class="statometer"><img src="http://chart.apis.google.com/chart?chs=100x55&cht=gom&chd=t:69&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div>  </div>
                 
            </div>
            
            
            
            </div><!-- end summary -->
            
            
            <div id="portfolio" class="profile-panel" >
        
                
                <div class="panel_content" >
                
                <div class="proficiency_name"><h3>Energy Finance</h3></div>
                  <h4 class="percentile"><span>53</span>th percentile</h4>
                <div class="scoreometer"><img src="http://chart.apis.google.com/chart?chs=150x85&cht=gom&chd=t:53&chco=F7F5F4,00ea00&chf=bg,s,F7F5F4"/></div>
                </div>
                
                <div class="panel_content" >
                
                <div class="proficiency_name"><h3> Law &amp; Policy </h3></div>
                  <h4 class="percentile"><span>56</span>th percentile</h4>
                <div class="scoreometer"><img src="http://chart.apis.google.com/chart?chs=150x85&cht=gom&chd=t:56&chco=F7F5F4,00ea00&chf=bg,s,F7F5F4"/></div>
                </div>
      
                
                
                 <div class="panel_content" style="border:none;">
                
                  <div class="proficiency_name"><h3> Energy Efficiency </h3></div>
                  <h4 class="percentile"><span>75</span>th percentile</h4>
                <div class="scoreometer"><img src="http://chart.apis.google.com/chart?chs=150x85&cht=gom&chd=t:75&chco=F7F5F4,00ea00&chf=bg,s,F7F5F4"/></div>
                </div>
                <!-- TODO put this on sidebar
    <div class="embed_code">
                 share your top scores 
                 <input type="text" value='<script type="text/javascript"><a href="http://www.plopquiz.com/"</script>' onClick="$(this).select();" name="score_embed"/>
                 </div> -->
                 
               
            </div><!-- portfolio -->


    <ul id="personal_nav">
		    <li class="ui-tabs-nav-item"><a href="#quote">Quote</a></li>
                <li class="ui-tabs-nav-item"><a href="#info">Info</a></li>
                <li class="ui-tabs-nav-item"><a href="#network">Network</a></li>
                
            </ul>
            <div id="personal">
		<div class="personal_content" id="info"> <div class="info_content">  
		Work Status: <div>Part-Time </div>
		
		Location: <div>Santa Barbera, CA</div>

		Interested In: <div>Helping companies, consumers, and the planet.</div>		
		 </div> </div> 
		
		
		<div class="personal_content" id="quote">
		<div class="quote_content">
		"An ounce of practice is worth more than tons of preaching.   " 
		<br/><br/>
		-- Gandhi
		 </div> 
		 
		 
		</div>
		
							<div class="personal_content" id="network">
		<div class="network_content"><div class="outside_profile linkedin">LinkedIn Profile</div><div class="outside_profile facebook">Facebook Profile</div>
		<div class="network_item following"> 
		Following: 
		
		<div>
		<li>BP</li>
		<li>Trinidad Energy</li>
		<li>Sopogy</li>
		</div>

		 </div> <!--end info_content-->
		 
			<div class="network_item following"> 


		 </div> <!--end info_content-->	
		
		 </div> 
		 
		 
		</div>
        </div> <!-- personal_nav -->


</div>  <!-- profile --> 

