{% extends "../base.html" %}
{% block head %}


		<script src="/static/scripts/jquery/jquery.ui.js"></script>
		<link rel="stylesheet" href="/static/stylesheets/ui/app_screen.css" type="text/css" media="screen">
		<link rel="stylesheet" href="/static/stylesheets/profile/tabs.css" type="text/css" media="screen">
		<link rel="stylesheet" href="/static/stylesheets/profile/profile.css" type="text/css" media="screen">
		
		<script src="/static/scripts/profile/profile.js"></script>
		<script src="/static/scripts/profile/tagcloud.js"></script>
		
		<script type="text/javascript">	
$(document).ready(function()
{
        	$('a[@href="#results"]').click();
		});
	</script>
	
	
   
   <!--Load the AJAX API-->
  

    <script type="text/javascript" src="/static/scripts/utils/jsapi.js"></script>
    <script src="/static/scripts/profile/line_chart.js"></script>
    <script src="/static/scripts/profile/pie_chart.js"></script>
    <script type="text/javascript">

      

	
    </script>
	

{% endblock %}


{% block main %}






	
	
	<!-- TABS -->
	
	
	
		<div class="profile">
		
	
		
		
		
		<div id="profile_photo"><img src='/static/stylesheets/img/profile/greenfuel.png'/></div>
	<!--	<div id="basics">
		<div id="name">James Levy </div>
		<div id="profession">Software Designer</div>
		</div> -->
		
            <ul id="main_nav">
            <li class="ui-tabs-nav-item"><a href="#full_profile">Quiz Info</a></li>
                <li class="ui-tabs-nav-item" id="profile_nav">
                <a href="#results">Dashboard</a></li>
                
            </ul>
            <div id="results" class="profile-panel">
            
                 
            
             <div class="panel_content results_content">
                <div class="results">
<a href="/preview/employer/profile/browse/" target="_blank"><div class="view_rankings"><span>View the Top Scores</span></div></a>
<div class="frame_box account_details">Your current plan lets you see profiles for the <br/><span class="account_score">top 5 scores</span>
<br/><a class="plan">change plan</a></div>
            </div>
             
             
            <h2 id="activity">Recent Activity</h2>
<div id="line_chart"></div>
                   <div class="embed_code results_embed" id="embed_quiz">embed this quiz
                 <input type="text" value='<script type="text/javascript"><a href="http://www.plopquiz.com/"</script>' onClick="$(this).select();" name="score_embed"/>
                 
                                  link to this quiz
                 <input type="text" value='<a href="http://www.plopquiz.com/"</a>' onClick="$(this).select();" name="score_embed"/>
                 </div>
        
            </div>
            
            
            </div><!-- end results -->
            
            
            <div id="full_profile" class="profile-panel" >
        

                <div class="panel_content quiz_info">
                  <h2>Quiz Topics</h2>
<div  id="chart_div"></div>
                  <div class="pfstat" id="quiz_popularity">      <h3>Popularity: </h3>  <div class="pfstatometer" ><img src="http://chart.apis.google.com/chart?chs=70x35&cht=gom&chd=t:86&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div>  </div>
   <div class="pfstat" id="quiz_difficulty">      <h3>Difficulty: </h3>  <div class="pfstatometer" ><img src="http://chart.apis.google.com/chart?chs=70x35&cht=gom&chd=t:66&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div>  </div>
     
        <div class="pfstat" id="take_quiz"> <h3>Take Quiz</h3> <img src='/static/stylesheets/img/utils/purple_next_small.png'/></div>
                       <div class="embed_code" id="embed_quiz">embed this quiz
                 <input type="text" value='<script type="text/javascript"><a href="http://www.plopquiz.com/"</script>' onClick="$(this).select();" name="score_embed"/>
                 
                                  link to this quiz
                 <input type="text" value='<a href="http://www.plopquiz.com/"</a>' onClick="$(this).select();" name="score_embed"/>
                 </div>
            

            </div>
        
                </div>

         
        
     



    <ul id="personal_nav">
		    <li class="ui-tabs-nav-item" style="margin-right: 4px;"><a href="#intro_employer">Intro</a></li>
                <li class="ui-tabs-nav-item"><a href="#info">Info</a></li>
                <li class="ui-tabs-nav-item"><a href="#network">Network</a></li>
                
            </ul>
            <div id="personal">
		<div class="personal_content" id="info"> <div class="info_content">  
		 Status: <div>Hiring</div> <br/>
		
		Location: <div>Cambridge, MA</div> <br/>
		
		Investors: <div>Draper Fisher Jurvetson</div> <br/>
		
		Webpage: <div><a>http://greenfuelonline.com</a></div> <br/>
		 </div> </div> 
		
		
		<div class="personal_content" id="intro_employer">
		<div class="intro_content">
             <div class="employer_summary frame_box">
             GreenFuel Technologies Corporation (GFT) is a startup that has developed a process of growing algae using emissions from fossil fuel combustion and solar panels, mainly to produce biofuel from algae.

It is based in Cambridge, Massachusetts.      <div class="wiki"><img src="/static/stylesheets/img/profile/wiki_small.png"/><a href="http://en.wikipedia.org/wiki/GreenFuel_Technologies_Corporation" target="_blank">Read More...</a></div>
             
             </div>



		 </div> 
		 
		 
		</div>
		
				<div class="personal_content" id="network">
		<div class="network_content">
		<div class="network_item following">  
		Following: 
		
		<div>
		<li>REC</li>
		<li>Altarock Energy</li>
		<li>Ramboll Group</li>
		</div>

		 </div>
		 
		
		
		 </div> 
		 
		 
		</div>
		
        </div> <!-- personal -->

</div>


{% endblock %}
