	
<script type="text/javascript">	
	$('div.embed_code').hide(); // get rid of embed codes
	</script>
	
	
		<div class="profile">
	
		<div id="photo"><img src='/static/stylesheets/img/profile/48889059427.jpg'/></div>
		<div id="basics">
		<div id="name">Julia Baker </div>
		<div id="profession">Student</div>
		</div>
		
            <ul id="main_nav">
                <li class="ui-tabs-nav-item" id="profile_nav">
                
                <a href="#summary">Summary</a></li>
                <li class="ui-tabs-nav-item"><a href="#portfolio">Top Scores</a></li>
            </ul>
            <div id="summary" class="profile-panel">

                <div class="panel_content" >
                
             <h2>Skill Cloud</h2>
                
              <div class="dynacloud" id="dynacloud">  Electrolysis   Electrolysis   Electrolysis   Electrolysis   Electrolysis   Electrolysis   Smart Grid   Smart Grid   Smart Grid   Reactor Safety  Reactor Safety  Reactor Safety  Reactor Safety  Reactor Safety  Reactor Safety  Reactor Safety  Reactor Safety  Waste Disposal  Waste Disposal  Waste Disposal  Waste Disposal  Waste Disposal  Diversification  Diversification  Diversification  Hydroelectric  Hydroelectric    Off-Grid  Nuclear Waste
                  Energy Amplifier  Energy Amplifier    Energy Amplifier    Energy Amplifier    Nuclear Waste  Nuclear Waste  Nuclear Waste  Nuclear Waste  Nuclear Waste</div>
                </div>
                
                 <div class="panel_content" id="stats">
                
              <div class="stat">   <h2>Range: </h2> <div class="statometer"><img src="http://chart.apis.google.com/chart?chs=100x55&cht=gom&chd=t:62&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/></div> </div>
                 
              <div class="stat">      <h2>Depth: </h2>  <div class="statometer"><img src="http://chart.apis.google.com/chart?chs=100x55&cht=gom&chd=t:86&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div>  </div>
                 
            </div>
            
            
            
            </div><!-- end summary -->
            
            
            <div id="portfolio" class="profile-panel" >
        
                
                <div class="panel_content" >
                
                <div class="proficiency_name"><h3>Energy Efficiency </h3></div>
                  <h4 class="percentile"><span>90</span>th percentile</h4>
                <div class="scoreometer"><img src="http://chart.apis.google.com/chart?chs=150x85&cht=gom&chd=t:90&chco=F7F5F4,00ea00&chf=bg,s,F7F5F4"/></div>
                </div>
                
                <div class="panel_content" >
                
                <div class="proficiency_name"><h3> Nuclear Energy </h3></div>
                  <h4 class="percentile"><span>87</span>th percentile</h4>
                <div class="scoreometer"><img src="http://chart.apis.google.com/chart?chs=150x85&cht=gom&chd=t:87&chco=F7F5F4,00ea00&chf=bg,s,F7F5F4"/></div>
                </div>
      
                
                
                 <div class="panel_content" style="border:none;">
                
                  <div class="proficiency_name"><h3> Energy Finance </h3></div>
                  <h4 class="percentile"><span>85</span>th percentile</h4>
                <div class="scoreometer"><img src="http://chart.apis.google.com/chart?chs=150x85&cht=gom&chd=t:85&chco=F7F5F4,00ea00&chf=bg,s,F7F5F4"/></div>
                </div>
                <!-- TODO put this on sidebar
    <div class="embed_code">
                 share your top scores 
                 <input type="text" value='<script type="text/javascript"><a href="http://www.plopquiz.com/"</script>' onClick="$(this).select();" name="score_embed"/>
                 </div> -->
                 
               
            </div><!-- portfolio -->


    <ul id="personal_nav">
		    <li class="ui-tabs-nav-item"><a href="#quote">Quote</a></li>
                <li class="ui-tabs-nav-item"><a href="#info">Info</a></li>
                <li class="ui-tabs-nav-item"><a href="#network">Network</a></li>
                
            </ul>
            <div id="personal">
		<div class="personal_content" id="info"> <div class="info_content">  
		Work Status: <div>Full Time </div>
		
		Location: <div>Los Angeles</div>
		
		Webpage: <div><a>http://myspace.com/juliagulia</a></div>
		
		Interested In: <div>Getting results!</div>		
		 </div> </div> 
		
		
		<div class="personal_content" id="quote">
		<div class="quote_content">
		"Dogs are better than human beings because they know but do not tell. " 
		<br/><br/>
		-- Emily Dickinson
		 </div> 
		 
		 
		</div>
		
							<div class="personal_content" id="network">
		<div class="network_content"><div class="outside_profile facebook">Facebook Profile</div>
		<div class="network_item following"> 
		Following: 
		
		<div>
		<li>Miasole</li>
		<li>Pacific Hydro</li>
		<li>Makani Power</li>
		</div>

		 </div> <!--end info_content-->
		 
			<div class="network_item following"> 


		 </div> <!--end info_content-->	
		
		 </div> 
		 
		 
		</div>
        </div> <!-- personal_nav -->


</div>  <!-- profile --> 

