	
<script type="text/javascript">	
	$('div.embed_code').hide(); // get rid of embed codes
	
	$('head').append('<link rel="stylesheet" href="/static/stylesheets/accounts/plans.css" type="text/css" />');
	</script>
	
	
		<div class="profile">

		
            <ul id="main_nav">
                <li class="ui-tabs-nav-item" id="profile_nav">
                
                <a href="#summary">Upgrade Your Account</a></li>
     
            </ul>
            <div id="summary" class="profile-panel">


          
          <div class="plans">
         
         <div class="plan" id="micro"><img src="/static/stylesheets/img/accounts/micro.png"/></div>
         
         <div class="plan" ><img src="/static/stylesheets/img/accounts/medium.png"/></div>
         
         </div>
         
         <div class="plans_description frame_box">Plopquiz is the most cost-effective way to screen for topgrade candidates. 
         
         <div class="contact_support">Paid plans are billed monthly and can be changed at any time. <br/>Questions? Send us an email: <a><b>support@plopquiz.com</b></a></div>
         </div>
        
         
            
            </div><!-- end summary -->
            
            


</div>  <!-- profile --> 

