


<div class="panel_box edit_profile_link"><a href="/edit_profile">edit profile</a></div>

{# <div class="panel_box edit_profile_link"><a href="/my_subjects">view my subjects</a></div> #}

{% if is_sponsor %}

<div class="panel_box edit_profile_link share_profile_link"><a href="/edit_sponsor_settings">edit sponsor settings</a></div>

{% else %}

<div class="panel_box edit_profile_link share_profile_link"><a onClick="ShareProfile();">share your profile</a></div>

<div class="share_container">
<div class="ui-dialog-content" id="share_profile" style="display:none;" title="Share Your Profile">
<div class="sponsors">

<span class="share_blurb content" >
Here are some ways to share your profile and show what you know. <br/>
Your profile also makes a great upgrade for your resume.   </span>



<span id="link" class="content info_note share_type">
<button>Link</button> <textarea class="share" onClick="$(this).select();">{{ http_host }}/profile/{{ user.profile_path }}</textarea>
</span>

<span id="facebook" class="content info_note share_type">
<a target="_blank" href="http://www.facebook.com/sharer.php?u={{ http_host }}/profile/{{ user.profile_path }}"><button id="facebook"  title="facebook"><img width=16 height=16 src="{{ http_host }}/static/stylesheets/img/accounts/facebook.gif"/>&nbsp; Share on Facebook</button></a>   
</span>


   <span id="twitter" class="content info_note share_type">
   <a target="_blank" href="http://twitthis.com/twit?url={{ http_host }}/profile/{{ user.profile_path }}"><button id="twitter"   title="twitter"><img width=16 height=16 src="{{ http_host }}/static/stylesheets/img/accounts/twitter.png"/>&nbsp; Share on Twitter</button>  </a>

</span>


</div>

<div class="employers" style="display:none;">

<p>You can share your academic profile on your resume or college application. </p>

<textarea class="share" onClick="$(this).select();">My Academic Profile From PlopQuiz: http://www.plopquiz.com/profile/{{ user.profile_path }} </textarea>
</div>

</div>

</div>


{% endif %}
