{% extends "../base.html" %}
{% block head %}


		<script src="/static/scripts/jquery/jquery.ui.js"></script>
		<link rel="stylesheet" href="/static/stylesheets/ui/app_screen.css" type="text/css" media="screen">
		<link rel="stylesheet" href="/static/stylesheets/profile/tabs.css" type="text/css" media="screen">
		<link rel="stylesheet" href="/static/stylesheets/profile/profile.css" type="text/css" media="screen">
		
		<script src="/static/scripts/profile/profile.js"></script>
		<script src="/static/scripts/profile/tagcloud.js"></script>
		
		
	
	

{% endblock %}


{% block main %}

	<!-- TABS -->
	
	<div class="profile_outer">
	
	
		<div class="profile">
	
		<div id="photo"><img src='/static/stylesheets/img/profile/2401963.jpg'/></div>
		<div id="basics">
		<div id="name">James Levy </div>
		<div id="profession">Software Designer</div>
		</div>
		
            <ul id="main_nav">
                <li class="ui-tabs-nav-item" id="profile_nav">
                
                <a href="#summary">Summary</a></li>
                <li class="ui-tabs-nav-item"><a href="#portfolio">Top Scores</a></li>
            </ul>
            <div id="summary" class="profile-panel">

                <div class="panel_content" >
                
             <h2>Skill Cloud</h2>
                
              <div class="dynacloud" id="dynacloud">  Intelligence  Diversification  Diversification  Diversification  Hydroelectric  Hydroelectric  Nuclear  Nuclear  Off-Grid  Nuclear  Photovoltaic   Photovoltaic  Photovoltaic  Photovoltaic  Pigovian  Peak Oil  Peak Oil  Peak Oil  Peak Oil  Geothermal 
                 Geothermal  Geothermal  Tidal  Tidal  Tidal  Credit  Grid  Grid   Grid  Grid  Grid  Grid  Credit  Credit  Credit  Credit  Server  Server  Cloud  Cloud  Cloud  Cloud  Bioenergy  Bioenergy  Bioenergy  Bioenergy</div>
                </div>
                
                 <div class="panel_content" id="stats">
                
              <div class="stat">   <h2>Range: </h2> <div class="statometer"><img src="http://chart.apis.google.com/chart?chs=100x55&cht=gom&chd=t:82&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/></div> </div>
                 
              <div class="stat">      <h2>Depth: </h2>  <div class="statometer"><img src="http://chart.apis.google.com/chart?chs=100x55&cht=gom&chd=t:66&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div>  </div>
                 
            </div>
            
            
            
            </div><!-- end summary -->
            
            
            <div id="portfolio" class="profile-panel" >
        
                
                <div class="panel_content" >
                
                <div class="proficiency_name"><h3>Energy Finance </h3></div>
                  <h4 class="percentile"><span>96</span>th percentile</h4>
                <div class="scoreometer"><img src="http://chart.apis.google.com/chart?chs=150x85&cht=gom&chd=t:96&chco=F7F5F4,00ea00&chf=bg,s,F7F5F4"/></div>
                </div>
                
                <div class="panel_content" >
                
                <div class="proficiency_name"><h3> Solar Energy </h3></div>
                  <h4 class="percentile"><span>74</span>th percentile</h4>
                <div class="scoreometer"><img src="http://chart.apis.google.com/chart?chs=150x85&cht=gom&chd=t:74&chco=F7F5F4,00ea00&chf=bg,s,F7F5F4"/></div>
                </div>
      
                
                
                 <div class="panel_content" style="border:none;">
                
                  <div class="proficiency_name"><h3> Law &amp; Policy </h3></div>
                  <h4 class="percentile"><span>50</span>th percentile</h4>
                <div class="scoreometer"><img src="http://chart.apis.google.com/chart?chs=150x85&cht=gom&chd=t:50&chco=F7F5F4,00ea00&chf=bg,s,F7F5F4"/></div>
                </div>
                <!-- TODO put this on sidebar
    <div class="embed_code">
                 share your top scores 
                 <input type="text" value='<script type="text/javascript"><a href="http://www.plopquiz.com/"</script>' onClick="$(this).select();" name="score_embed"/>
                 </div> -->
                 
               
            </div><!-- portfolio -->


    <ul id="personal_nav">
		    <li class="ui-tabs-nav-item"><a href="#quote">Quote</a></li>
                <li class="ui-tabs-nav-item"><a href="#info">Info</a></li>
                <li class="ui-tabs-nav-item"><a href="#network">Network</a></li>
                
            </ul>
            <div id="personal">
		<div class="personal_content" id="info"> <div class="info_content">  
		Work Status: <div>Full Time </div>
		
		Location: <div>San Francisco</div>
		
		Webpage: <div><a>http://jamtoday.beehold.us</a></div>
		
		Interested In: <div>I like to watch.</div>		
		 </div> </div> 
		
		
		<div class="personal_content" id="quote">
		<div class="quote_content">
		"If I had 20 days to solve a problem, I would take 19 days to define it." 
		<br/><br/>
		-- Albert Einstein
		 </div> 
		 
		 
		</div>
		
							<div class="personal_content" id="network">
		<div class="network_content"><div class="outside_profile linkedin">LinkedIn Profile</div><div class="outside_profile facebook">Facebook Profile</div>
		<div class="network_item following"> 
		Following: 
		
		<div>
		<li>Greenfuel Technologies</li>
		<li>Brightsource</li>
		<li>Sopogy</li>
		</div>

		 </div> <!--end info_content-->
		 
			<div class="network_item following"> 
		Employed By: 
		
		<div>
		<li>Plopquiz</li>

		</div>

		 </div> <!--end info_content-->	
		
		 </div> 
		 
		 
		</div>
        </div> <!-- personal_nav -->


</div>  <!-- profile --> 




 </div> 



{% endblock %}
