	
	<script type="text/javascript">	
	$('div.embed_code').hide(); // get rid of embed codes
	</script>
	
	<div class="profile">
	
		<div id="photo"><img src='/static/stylesheets/img/profile/2515.jpg'/></div>
		<div id="basics">
		<div id="name">Rohan Dixit </div>
		<div id="profession">Network Researcher</div>
		</div>
		
            <ul id="main_nav">
                <li class="ui-tabs-nav-item" id="profile_nav">
                
                <a href="#summary">Summary</a></li>
                <li class="ui-tabs-nav-item"><a href="#portfolio">Top Scores</a></li>
            </ul>
            <div id="summary" class="profile-panel">

                <div class="panel_content" >
                
             <h2>Skill Cloud</h2>
                
                <div class="dynacloud" id="dynacloud">   Electricity Distribution   Electricity Distribution   Electricity Distribution  Electricity Distribution   Electricity Distribution   Neuroscience  Neuroscience  Neuroscience  Neuroscience  Neuroscience  Neuroscience  Collective Intelligence  Collective Intelligence  Scale-free    Scale-free   Scale-free    Scale-free   Scale-free  Collective Intelligence   Collective Intelligence   Collective Intelligence  Collective Intelligence  Feedback  Feedback  Feedback  Feedback   Feedback   Carbon Capture And Storage   Carbon Capture   Carbon Storage   Carbon Capture   Carbon Storage   Carbon Capture   Carbon Storage   Carbon Capture   Carbon Storage   Carbon Capture And Storage   Carbon Capture And Storage   Atmosphere  Atmosphere   Atmosphere  Atmosphere  Atmosphere   Cogeneration  Peak Oil   Geothermal  Grid    Grid  Grid   Grid   Grid   Grid    Informatics   Informatics   Informatics   Informatics </div>
                </div>
                
                 <div class="panel_content" id="stats">
                
              <div class="stat">   <h2>Range: </h2> <div class="statometer"><img src="http://chart.apis.google.com/chart?chs=100x55&cht=gom&chd=t:42&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/></div> </div>
                 
              <div class="stat">      <h2>Depth: </h2>  <div class="statometer"><img src="http://chart.apis.google.com/chart?chs=100x55&cht=gom&chd=t:36&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div>  </div>
                 
            </div>
            
            
            
            </div><!-- end summary -->
            
            
            <div id="portfolio" class="profile-panel" >
        
                
                <div class="panel_content" >
                
                <div class="proficiency_name"><h3>Collective Intelligence </h3></div>
                  <h4 class="percentile">92th percentile</h4>
                <div class="scoreometer"><img src="http://chart.apis.google.com/chart?chs=150x85&cht=gom&chd=t:92&chco=F7F5F4,00ea00&chf=bg,s,F7F5F4"/></div>
                </div>
                
                <div class="panel_content" >
                
                <div class="proficiency_name"><h3> Clean Energy </h3></div>
                  <h4 class="percentile">23rd percentile</h4>
                <div class="scoreometer"><img src="http://chart.apis.google.com/chart?chs=150x85&cht=gom&chd=t:23&chco=F7F5F4,00ea00&chf=bg,s,F7F5F4"/></div>
                </div>
      
                
                
                 <div class="panel_content" style="border:none;">
                
                  <div class="proficiency_name"><h3> Law &amp; Policy </h3></div>
                  <h4 class="percentile">28th percentile</h4>
                <div class="scoreometer"><img src="http://chart.apis.google.com/chart?chs=150x85&cht=gom&chd=t:28&chco=F7F5F4,00ea00&chf=bg,s,F7F5F4"/></div>
                </div>
    <div class="embed_code">
                 share your top scores 
                 <input type="text" value='<script type="text/javascript"><a href="http://www.plopquiz.com/"</script>' onClick="$(this).select();" name="score_embed"/>
                 </div>
                 
               
            </div><!-- portfolio -->


    <ul id="personal_nav">
		    <li class="ui-tabs-nav-item"><a href="#quote">Quote</a></li>
                <li class="ui-tabs-nav-item"><a href="#info">Info</a></li>
                <li class="ui-tabs-nav-item"><a href="#network">Network</a></li>
                
            </ul>
            <div id="personal">
		<div class="personal_content" id="info"> <div class="info_content">  
		Work Status: <div>Full Time </div>
		
		Location: <div>Palo Alto</div>
		
		Webpage: <div><a>http://b.ubbly.com</a></div>
		
		Interested In: <div>Om Shanti Om.</div>		
		 </div> </div> 
		
		
		<div class="personal_content" id="quote">
		<div class="quote_content">
		"In order to make an apple pie from scratch, you must first create the universe."
		<br/><br/>
		-- Carl Sagan
		 </div> 
		 
		 
		</div>
		
				<div class="personal_content" id="network">
		<div class="network_content"><div class="outside_profile linkedin">LinkedIn Profile</div><div class="outside_profile facebook">Facebook Profile</div>
		<div class="network_item following"> 
		Following: 
		
		<div>
		<li>Nanosolar</li>
		<li>Occidental</li>
		<li>BP</li>
		</div>

		 </div> <!--end info_content-->
		 
			<div class="network_item following"> 
		Employed By: 
		
		<div>
		<li>Plopquiz</li>

		</div>

		 </div> <!--end info_content-->	
		
		 </div> 
		 
		 
		</div>
		
        </div> <!-- personal_nav -->


</div> 
