{% extends "../base.html" %}
{% block head %}

<style type="text/css"> 
{% include "../../static/stylesheets/ui/app_screen.css" %} 
{% include "../../static/stylesheets/profile/tabs.css" %} 
{% include "../../static/stylesheets/profile/profile.css" %} 
{% include "../../static/stylesheets/profile/edit.css" %} 
{% include "../../static/stylesheets/profile/sponsor_settings.css" %} 
{% include "../../static/stylesheets/utils/form.css" %} 
</style> 

 <script type="text/javascript"> profile_path = '/sponsors/{{user.profile_path}}'; this_sponsor = "{{user.unique_identifier}}" </script>
 

<script type="text/javascript"> {{ sponsor_settings_js }}</script>
 

{% endblock %}


{% block main %}




<div class="frame_box" id="edit_sponsor_settings">

<div class="edit_profile">


<h2>{{ edit_type }} Sponsor Settings</h2>



        <form action="#" class="signup" name="signup" enctype="multipart/form-data" onSubmit="return false;" method="get">
        
<fieldset id="customize_message"><legend>Customize Your Message</legend> <br/>

<span>Whenever a student earns your sponsorship, they'll receive this message.</span>
<div style="height:10px;"></div>
<span>You can describe career opportunities with your organization, services you offer, or anything else worth a conversation. </span>

<ul id="1">
<li> <textarea  cols="15" rows="5" type="textarea" name="sponsor_message" maxlength="380" id="sponsor_message">{{ this_employer.sponsorship_message|default_if_none:this_employer.default_message }}</textarea> </li>

</ul>




</fieldset>

<fieldset id="quiz_subjects"><legend>Quiz Subjects</legend> <br/>
<ul id="2" > 
<span>Your sponsorship will be awarded to students earning the top 10% of scores for a quiz subject of your choice.</span>
<div style="height:10px;"></div>
<span>Preview the subjects by <a id="preview_quiz"> taking a quiz.</a></span>
<div style="height:10px;"></div>
<li> 
<label for="quiz_subjects">Choose a Quiz Subject</label><div style="height:6px;"></div>
  <select name="quiz_subjects" id="quiz_subjects">
  {% for subject in subjects %}
  <option {% ifequal this_employer.quiz_subjects.0 subject.name   %}selected{% endifequal  %} >{{ subject.name }}</option>
    {% endfor %}
</select>
  </li>

</ul>
</fieldset>
   </form>
  



</div>
</div>


       
  <div id="submit_form">

   <div id="submit">
  <button onSubmit="return false;" onClick="return false;"><img width=50 height=51 src="/static/stylesheets/img/utils/purple_next.png"/><span class="continue_button" >Save Changes</span></button>
  </div>

   <div id="cancel"><span>or Cancel</span> <div id='sponsor_form_cancel'><img src="/static/stylesheets/img/utils/cancel.png"></div></div>          
       <div class="form_error warning_note" id="sponsor_form_error">
     There was an error sending this form.<div style="height:7px;"></div>If refreshing the page doesn't work,<div style="height:1px;"></div> <a id="contact">contact us</a>. 
     </div>
</div>
{% endblock %}
