{% extends "../base.html" %}
{% block title %}Sponsors / {{ user.fullname }}{% endblock %}

{% block head %}

<style type="text/css"> 
{% include "../../static/stylesheets/ui/app_screen.css" %} 
{% include "../../static/stylesheets/profile/tabs.css" %} 
{% include "../../static/stylesheets/profile/profile.css" %} 
</style> 

<script type="text/javascript"> {{ profile_js }} </script>


{% endblock %}


{% block main %}

<!-- TABS -->

<div class="profile_outer">


<div class="profile">

<div id="photo"><img src='/image/profile/?img_id={{ user.photo.key }}&size=large'/></div>
<div id="basics">
<div id="name">{{ user.fullname }} </div>
<!--TODO <div id="profession">Software Designer</div> -->
</div>

	<ul id="main_nav">
		<li class="ui-tabs-nav-item" id="profile_nav"><a href="#summary">Portfolio</a></li>
		<li class="ui-tabs-nav-item" style="display:none;"><a href="#report_card">Report Card</a></li> {# TODO: Wall #}
	</ul>


<div id="summary"  class="profile-panel">
<span class="gray_box_header">Sponsored Subjects</span>
<div class="panel_content " id="award_content" > 
<div class="gray_box awards_box" id="award_container">
<div id="award_scroll">
<div id="awards">


 
{% for subject in sponsored_subjects %} 

<div id="award_{{ forloop.counter }}" class="proficiency_pic selection_box award_img">
		<ol class="sliderContent" id="award_{{ forloop.counter }}Content">

		<li style="display:none;" id="{{ forloop.counter }}_default_subject_image"  class="sliderImage award_{{ forloop.counter }}Image">
			<img src="/image/subject/?img_id=default&size=small"/>
			<span class="img_{% cycle top,bottom %}"> sponsor <br/><strong>  {{subject.name}}</strong></span>
		</li>
		
		{% for img in subject.images %}
		<li class="sliderImage award_{{ forloop.parentloop.counter }}Image {{ forloop.parentloop.counter }}_has_subject_image">
			<img src="/image/subject/?img_id={{ img.key }}&size=small"/>
			<span class="img_{% cycle top,bottom %}"> sponsor<br/><strong>  {{ subject.name}}</strong></span>
		</li>
		{% endfor %}

		<div class="clear award_{{ forloop.counter }}Image"></div>
	</ol>

</div>


{% endfor %}










<div id="no_award_note" class="info_note profile_info_note" style="display:none;">{% if profile_owner %}You have{% else %}{{ user.fullname }} has{% endif %}  no sponsored subjects. </div>
 
 </div> {# subjects #}
 </div> {# subject_scroll #}
 
  <div class="box_nav" id="award_scroll_nav" style="display:none">
<button id="award_next" class="small_nav"><img src="/static/stylesheets/img/utils/purple_next_tiny.png"></button>
<button id="award_prev" class="small_nav"><img src="/static/stylesheets/img/utils/purple_prev_tiny.png"></button>
</div>

 </div> {# award_container #}
 
 


 </div> {# award_content #}


<span class="gray_box_header">Recently Sponsored</span>
<div class="panel_content " id="sponsor_content" > 
<div class="gray_box sponsors_box" id="sponsor_container">
<div id="sponsor_scroll">


<div id="sponsors">
{% for sponsorship in user.given_sponsorships %} 

<div class="gray_square_box is_sponsor">
<img src="/image/profile/?img_id={{ sponsorship.recipient.photo.key }}&size=large"/>
<span class="img_bottom">{{ sponsorship.recipient.fullname }}</span></div>
{% endfor %}

<div id="no_sponsorship_note" class="info_note profile_info_note" style="display:none;">{% if profile_owner %}You have{% else %}{{ user.fullname }} has{% endif %} awarded no sponsorships. </div>

</div> {# sponsors #}
</div> {# sponsor_scroll #}

<div class="box_nav" id="sponsor_scroll_nav" style="display:none">
<button id="sponsor_next" class="small_nav"><img src="/static/stylesheets/img/utils/purple_next_tiny.png"></button>
<button id="sponsor_prev" class="small_nav"><img src="/static/stylesheets/img/utils/purple_prev_tiny.png"></button>
</div>

</div> {# sponsor_container #}

</div> {# sponsor_content #}




{% if profile_owner %}
<!--
<div class="embed_code">
share your top scores 
<input type="text" value='<script type="text/javascript"><a href="http://www.plopquiz.com/"</script>' onClick="$(this).select();" name="score_embed"/>
</div> 

-->
{% endif %} 

</div><!-- end summary -->


	<div id="report_card" class="profile-panel" >
	<a id="toggle" style="display:none;" >toggle display</a>
<div id="report_1"  class="report_section">
{% if level_msg %}
 <div class="panel_content">
<div class="info_note profile_info_note">
{% if profile_owner %} You {% else %} {{ user.fullname }} {% endif %} can develop a report card
by taking <a>quizzes</a>.
</div>
</div>
{% endif %}
{% for tl in top_levels %}                
		<div class="panel_content report_card_panel" {% if forloop.last %} style="border-style:none;" {% endif %}>
		<div class="proficiency_name"><span class="subject_name">{{ tl.topic.proficiency.name }} </span> <span class="topic_name">{{ tl.topic.name }} </span></div>
		  <h4 class="percentile"><span>{{ tl.topic_level }}</span>th percentile</h4>
		<div class="scoreometer"><img src="http://chart.apis.google.com/chart?chs=90x45&cht=gom&chd=t:{{ tl.topic_level }}&chco=F7F5F4,00ea00&chf=bg,s,F7F5F4"/></div>
		</div>
{% endfor %}
	   
	 </div>    
	


	   
	</div><!-- portfolio -->
	
{% include "profile_sidebar.html" %}


</div>  <!-- profile --> 



<div class="flash_msg note">
{% if profile_owner %}
{% include "flash/sponsor_owner.html" %}
{% else %}
{% include "flash/sponsor_viewer.html" %}
{% endif %}
</div>



</div> 



{% endblock %}
