/*
*
* Layout
*
*/

.sitelet .middle .main_wrapper .main {
height:3750px;
}

#header{
font-size:6em;
margin:75px 0;
position:absolute;

}

div#sub_header{
background:#EEEEEE none repeat scroll 0 0;
color:#555555;
font-size:17px;
margin-left:132px;
margin-top:175px;
padding:2px 6px;
position:absolute;
text-align:center;
width:400px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
}


div#pqwidget{

position:absolute; margin: 10px 0 0 550px;

}


div.panel {
position:absolute;
width:800px;
margin-left: 50px;
}

div.panel p{
font-size:28px;
line-height:1.2em;
margin:20px;
text-align:center;
}

div#intro{
height:845px;
margin-top:300px;
}

div#updates{
font-size:2.3em;
height:20px;
margin-top:1188px;
padding:80px 0 39px 20px;
}


div#updates input{
font-size:1.3em;
margin-left:65px;
margin-top:-70px;
position:absolute;
width:620px;
text-align:center;
}


button#readthebill{
position:relative;
margin: 14px 130px; padding: 11px; background: rgb(224, 224, 224) none repeat scroll 0% 0%;
 height: 325px; width: 550px;
}
button#readthebill img{
width:99px;
height:99px;
}

button#readthebill img#read_button{left:5px;
position:relative;
top:60px;}

button#readthebill img#st_button{left:-97px;

position:relative;
top:150px;}

button#readthebill object{ left:50px;
position:relative;
top:-100px;}


div#first_response{
font-size:35px;
margin:-5px -38px;
position:absolute;
text-align:center;
width:100%;
}

div#first_response button{font-size:0.8em;
margin:0;
padding:10px 20px;
width:570px;
}

div#first_response button img{ margin:10px 10px 0 -13px; }


div#contribute {
margin: 30px 0pt -10px; font-weight: bold; font-size: 44px ! important; padding-top:35px; height:150px; text-align:center;
}

div#bills {
margin-top:1332px;
}


div.bill {
margin:40px;
-moz-border-radius-bottomleft:2px;
-moz-border-radius-bottomright:92px;
-moz-border-radius-topleft:92px;
-moz-border-radius-topright:2px;
-webkit-border-bottom-left-radius:2px;
-webkit-border-bottom-right-radius:92px;
-webkit-border-top-left-radius:92px;
-webkit-border-top-right-radius-:2px;
background:#DDDDDD none repeat scroll 0 0;
border:8px solid #DDDDDD;
color:#000040;
cursor:pointer;
line-height:1.8em;
margin:20px 0;
padding:3px;
text-transform:none;
width:100%;
overflow:hidden;
}

div.bill div.image{
position:absolute;
margin:10px 140px;
}

div.bill, div.bill .title_container{height:100%; position:relative;}
div.bill, div.bill .title{
height:180px;
}

div.bill .title{
display:block;
font-size:30px;
line-height:1.3em;
padding:108px 25px 25px;
position:absolute;
text-align:center;
width:300px;
}

div.bill .stats_container{
margin:-195px 380px;
position:absolute;
width:420px;
}

div.bill .stats{
display:table-cell;
font-size:1.3em;
height:210px;
margin:15px 0 0 350px;
position:static;
vertical-align:middle;
width:420px;
}

div.bill .stats li{
margin: 10px 0;
}


div.bill .stats li strong{
margin-right:7px;
}


div#sitelinks_header{
bottom:350px;
font-size:2em;
left:22%;
padding:10px 60px;
position:absolute;
}

div#sitelinks {
bottom:100px;
font-size:2em;
padding:40px 50px;
position:absolute;
width:890px;
height:200px;
}

div#sitelinks a{
float:left;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border:5px solid #DDDDDD;
margin:10px;
}
