<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns = "http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>JSLab PlotTool 1.0.0 beta</title>
    <!--
    // **************************************************************************
    // Copyright 2008 Tavs Dokkedahl
    // Contact: http://www.jslab.dk/contact.php
    // More info: http://www.jslab.dk/tools.plot.php
    //
    // This file is part of the JSLab Plot Tool Program.
    //
    // The JSLab Plot Tool Program is NOT free software. You are free to look at
    // how the program is created and be inspired but you are not allowed to copy
    // or distribute any part of the source code.
    // ***************************************************************************
    -->
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/ranking/plottool.css" />
    <script type="text/javascript" charset="utf-8" src="/static/scripts/ranking/toolbar.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/scripts/ranking/math.coord.js"></script>

    <script type="text/javascript" charset="utf-8" src="/static/scripts/ranking/math.eval.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/scripts/ranking/plottool.js"></script>
    
    <!--[if lt IE 7]>
      <script type="text/javascript" charset="utf-8">
        window.onload =
          function() {
            document.body.innerHTML += '<div style="margin: 4px;">You need Internet Explorer 7 or better to use the JSLab Plot Tool. You can of course also use Firefox, Opera or Safari.</div>';
          };
      </script>
    <![endif]-->
  </head>
  <body>
    <noscript>
      <div class="info">You need to enable JavaScript to use the JSLab Plot Tool</div>
    </noscript>
  </body>

</html>
