{% extends "../base.html" %}

{% block head %}


<style type="text/css"> 
div#error{ position:absolute; margin: 200px 270px; text-align:center;}
div#notice{ position:absolute; margin:330px 240px; text-align:center;} 
</style> 



<script type="text/javascript"> 

$(function(){
	
	$('div.loading').show();
	$('div#login').hide();
	$('div#quick_links').hide();
	
	var update_list = ["update_user_stats", "update_user_awards", ]
	
PerformUpdate("update_user_stats");

return setTimeout(UpdateError, 40000);
	
});


function PerformUpdate(action_type){

	$.ajax(
                                {
                                        type: "POST", 
                                        url:  "/accounts/rpc/post",
                                        data:
                                        {
                                                action: action_type
                                        },
                                        error: function(response){
                                          UpdateError();
                                                           },
                                        success: function(response)
                                        {
                                        	
                                    // try again if there was an error 
                                    if (response.indexOf("OK") == -1)  { 
                                    	 if ( $('div.#error').data('error') == 'true' ) return; //past timeout
                                    	 PerformUpdate(action_type);   return;  }

								// otherwise, perform next step.  
								if (action_type == "update_user_stats") PerformUpdate("update_user_awards");
								if (action_type == "update_user_awards") PerformUpdate("update_user_sponsorships");
								if (action_type == "update_user_sponsorships") window.location = "{{ redirect_path }}";
                                        		

	
	                                     }
	
	
   });

	

}


function UpdateError(){
	
	$('div#notice').hide();
	$('div.loading').hide();
	$('div.#error').show().data('error', 'true');
	
}





</script>
		
{% endblock %}


{% block main %}


<div class="note" id="notice">
Your Quiz Results Are Being Saved. This May Take A Moment...
</div>

<div class="warning_note" style="display:none;" id="error">
Sorry, there's been an error saving your quiz.
 <br/>
<br/>
<a href="{{ redirect_path}}">Continue</a>. 
</div>

        

{% endblock %}
