<div id="reset_account" style="display:none;">

<div id="reset_content">
If you already have a PlopQuiz account and 

 <b>you want to change your login service</b> or 
 <b>you forgot your login information</b>,
 submit the e-mail address associated with your PlopQuiz profile. 
<div style="height:10px;"></div>
<div id="submit_email">
<input type="text" name="email_address"  maxlength="25" id="email_address" value="your email address"  />
<button id="submit"><span class="continue_button thin">Submit</span></button>

 <div id="error" style="display:none;"></div>
  <div id="checking" style="display:none;"><img src="/static/stylesheets/img/utils/mini_loader.gif"/>Checking For E-mail...</div>
 </div>
 
 
 <div id="submit_email_success" style="display:none;">
 <div> We have e-mailed you instructions for resetting access to your account.</div>
 </div>
<div style="height:10px;"></div>
If you don't already have a PlopQuiz account, <a id="login_options">sign into any of the listed services</a> to get started.

</div>


</div>
