/*
*
* Layout
*
*/

.sitelet .middle .main_wrapper .main {
height:940px;
}

div.quiz_subjects{
background: #EDF2F8; width:800px; border: 3px solid #E0E0E0; height:80px; float:left; padding: 0 10px; margin:8px -15px;
}

div#edit_subjects{
width:810px;
height:800px;
float:left;
margin:30px 0 0 50px;
font-size:1.3em;
overflow:hidden;
}


div#edit_subjects div.frame_header h2{ font-size: 1.5em; }

div#edit_subjects div.frame_header span{
font-size: .5em; display:block; position:absolute; margin: -16px 0 0 196px;
 }
div#edit_subjects div.frame_header h2#subject_selection{ 
 font-size: 1.5em; position:absolute;margin: -27px 0 0 216px;
}

div.subject_options{
margin:7px 640px;
position:absolute;
width:200px;
z-index:99;
}

div.subject_thumb_container{
height:70px;
margin:4px 0 0 30px;
width:640px;
position:relative;
}

button.find_more_subjects{
width:160px;
padding-left:0px;
}

button.find_more_subjects img{
position:absolute;
margin:0 8px;
}
/*
*
* Quiz Subjects 
*
*/

div#subject_frame_container{
    position:absolute;
    margin: 100px 0;
}
div#subject_frame_container .subject_frame{
height:210px;
width:300px;
position:absolute;
}

button.quiz_button{
position:absolute;
width:210px;
margin:85px 0 0 50px;
filter: alpha(opacity=60);
-moz-opacity: 0.6;
-khtml-opacity: 0.6;
opacity: 0.6;
}

button.quiz_button span{
font-size:1.2em;
letter-spacing:0.06em;
margin:15px 5px;
}

button.quiz_button img{
float:left; margin:18px 0 0 3px
}


.bigsliderImage span.slider{
	font: 25px Arial, Helvetica, sans-serif;
	padding:1px 8px 3px;
	width:285px;
}



div#subject_frame_container ul.subject_nav{  margin: 0 350px;
position:absolute;
width:300px; }

div#subject_frame_container .ui-tabs-nav-item {margin: 1px 3px 0; }

div#subject_frame_container .ui-tabs-nav-item.description{}

div#subject_frame_container .ui-tabs-nav-item a { padding:5px 10px; line-height:1.1em; font-size:0.9em; }

div.delete_pictures{
position:absolute;
margin: 230px 3px;
overflow: auto;
height:40px;
width:315px;
padding: 5px
background: #CCCCCC none repeat scroll 0 0;
    -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

div.delete_pictures div.selection_box{
float:left;
height:25px;
margin:4px;
width:40px;
border-width: 5px;
cursor:pointer;
}

div.delete_pictures div.selection_box img{
cursor:pointer;
}


div.delete_pictures div.selection_box button{
margin:1px -38px;
padding:0;
position:absolute;
}




/*
*
* Top Level
*
*/


div#subject_frame_container div.top_level {
height:330px;
position:absolute;
width:820px;
}



div#subject_frame_container .blurb{
    -moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	background:#F3F3F3;
	border:2px solid #DDDDDD;
	overflow:hidden;
	color:#000040;
}

div#subject_frame_container .blurb.middle{
    position:absolute; top:30px; left: 330px; width:290px; height:290px;
}

div#subject_frame_container .blurb.side{
height:263px;
margin:35px 630px;
padding:10px;
position:absolute;
width:160px;
}

div#subject_frame_container div.upload_picture {
position:absolute;  margin: 280px 70px; padding:3px;
}

div.subject_images{
position:absolute;
}

.blurb .header{
    text-align:center;
}
.blurb .blurb_text{
    position:absolute;
    overflow:hidden;
width:240px; 
padding: 10px 20px;
height:180px; 
text-align:center;
line-height: 1.2em;
font-size: .9em;
}

.blurb .blurb_text.video{ padding: 10px 5px; }

.blurb textarea.description{
font-size:0.8em;
height:195px;
line-height:1.2em;
margin:5px 6px;
padding:10px;
position:absolute;
text-align:center;
width:250px;
}

.blurb div.limit{
    position:absolute;
    margin: 230px 0 0 15px;
    font-size: .6em;
}
div.video_footer{
    position:absolute; margin:199px 0 0 60px;
}

div.description_footer{
    position:absolute; margin:243px 0 0 60px;
}


div.description_footer button.edit, button.change_playlist{
    width:160px;
}


.blurb div.footer button img{
    margin: 0pt 10px 0pt 0px;
}

button.remove{
margin: 0 10px; padding:0px;
}

.blurb div.link_footer {
height:70px;
margin:220px 0 0 60px;
padding:5px;
position:absolute;
}

.blurb div.link_footer input {
position:absolute;
margin-left:-60px;
}

.blurb div.link_footer input.title {
margin-top:30px;
}

.blurb div.link_footer button.add_link {
position:absolute;
width:140px;
}

.blurb div.link_footer button.add_link img {
padding:3px;
}

.blurb div.link_footer button.save_link {
margin:12px 140px;
position:absolute;
width:70px;
}

.video_container{
position:absolute; 
margin: 10px 5px;
}

button.change_playlist{
margin:30px 0;
}


div.change_playlist{
margin: 15px 0;
}

input.playlist{
width: 270px;padding: 3px; font-size: .5em; margin: 0px -55px;
}

.links_container{

position:absolute; 
width:260px;
 margin:14px;
 padding:5px 0; 
height:200px; 
overflow:auto; 
text-align:center;

}

.links_container li{
margin: 8px 0; 
}
/* Stats - Share with QT widget */

div#subject_frame_container div.subject_stat{
height:65px;
margin-left: 9px;
}

div#subject_frame_container div.subject_stat.difficulty{
margin-top:100px;
}

div#subject_frame_container div.subject_stats{
margin: 44px 0px;
}

div#subject_frame_container div.subject_stat h3{
margin:45px 0 0 10px;
}

div#subject_frame_container div.statometer{
float:right;
margin:-14px 20px 0;
}



/*
*
* Middle Level
*
*/

div#subject_frame_container div.middle_level {
margin-top: 330px;
position:absolute;
width:820px;
height: 150px;
}


div#subject_frame_container div.item_count {
font-size:4em;
height:110px;
padding:0 10px;
position:absolute;
width:120px;
text-align:center;
margin-top:20px;
}

div#subject_frame_container div.item_count#total { margin-left:10px; }
div#subject_frame_container div.item_count#pending { color: Crimson; margin-left:170px; }

div#subject_frame_container div.item_count span{
font-size:20px;
margin:5px -20px;
display:block;
}

div#subject_frame_container button.quiz_items{
font-size:1.3em;
height:100px;
margin:30px 325px;
position:absolute;
width:480px;
}

/*
*
* Lower Level
*
*/


div#subject_frame_container div.lower_level {
height:140px;
margin-top:485px;
position:absolute;
width:820px;
}

div.lower_level  div.current_admins, div.lower_level  div.current_contributors, div.lower_level div.invite_contributors{
height:100%;
width:160px;
float: left;
}

div.lower_level div.invite_contributors{
height:175px;
margin:2px;
width:480px;
}

div.lower_level div.invite_contributors .header{
width: 200px; margin: 10px 130px;
}

div.lower_level div.invite_contributors input{
font-size: 1.3em;
}

div.lower_level div.invite_contributors .success{
margin: 10px;
padding: 5px;
}

div.lower_level  select{
width: 150px;
}


div.lower_level{
text-align: center;
}

button.rights{
width: 90px;
}

button.rights img{
position:absolute; 
}

button.rights#remove_admin{
text-align: left;
}

button.rights#make_admin{
text-align: right;
}

button.rights#remove_admin img{
margin:0 10px;
}

button.rights#make_admin img{
margin:0 -26px;
}
/* Create New Subject */

div#new_subject input{

font-size:3em;
padding:5px;
margin:10px -10px;
width:600px;

}


div.ui-dialog.create_subject .ui-dialog-buttonpane button {
margin-left:200px;
}


/* Join Subject */

div.join_subject{

margin: 320px 0; text-align: center; height: 350px; width: 800px; position: absolute;
}


div.join_subject button.join{
margin: 80px 80px 20px; width: 600px; font-size: 2.2em; height: 160px;
}

div.join_subject div.note{
height:40px;
padding:20px 0 0;
}
