.sitelet .middle .main_wrapper .main {
    height: 625px;
}


/* EDITOR LAYOUT */

#editor_container{
margin:10px -120px;
position:relative;
width:950px;
}

.scroller{
/* background:#FFFFFF url(images/content_pane-gradient.gif) repeat-x scroll left bottom; */
clear:left;
float:left;
height:565px;
margin:2px 0 0 90px;
overflow-x:hidden;
overflow-y:auto;
position:relative;
}

.scroller, .quiz_items div.quiz_item {
width:970px;
}

div.item_sidebar{
    position:absolute;
   margin:-35px 0 0 740px;
}

div.sidebar_header{
margin:-10px 0 15px 5px;
padding:5px;
text-align:center;
}
div#loading_items{
margin: 180px 0 0 280px;
}

div#loading_items img{
margin:-5px 40px;
}

div.answers_container div.loading{
margin: 22px 0 0 80px;
}

div.answers_container div.loading span{
margin: 0 30px;
}

span.loading{
font-size: 2em;
}

div.quiz_items{
margin:70px 0 0 55px
}

.quiz_items div.quiz_item {
height:420px;
padding:20px 0;
}


div.index{
font-size:2.2em;
float:left;
display:none;
}




/* ITEM CONTENT */

.item_inner{
padding: 15px;
}

.main div.pre_content, div.post_content{
font-style: italic;
margin: 10px 0px;
}

.main div.quiz_item_content div.content{
font-size:1.8em;
line-height:1.3em;
margin:10px 0;
min-height: 150px;
cursor:pointer;
}



.main div.quiz_item_content{
background-color:#EDF2F8;
border:5px solid #DDDDDD;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
position:absolute;
height:355px;
overflow:auto;
width:700px;
margin-bottom:5px;
}

div.pre_content span#blank, div.post_content span#blank{
font-weight:bold;
padding:0 5px;
}

.main div.content span#blank{
color: black;
background:#FFFFD1 none repeat scroll 0 0;
border:1px solid #E2C922;
font-weight:bold;
margin:0 5px;
padding:0 5px;
display:inline-block;
}

.main div.content span#blank.no_hover{ /* dep */
width: 100px;
}
.editable textarea{
font-size:.9em;
line-height:1.2em;
padding:15px;
margin-left:5px;
}

/* ANSWER CANDIDATES */

.main span.answer_candidate{
color:#555555;
font-weight:normal;
margin-left:20px;
position:relative;

}

.main div.answers_container{
float:left;
margin: 380px 0 0;
width:   700px; 
clear:both;
}

.main div.answers_scroll{
width:700px;  
overflow:auto;
height:70px;
 cursor:pointer;
 margin:0px 0 0 5px;
}

.main div.new_answer{
    margin-left:700px;
    margin-top:-150px;
    position:absolute;
    width:150px;
}

div.item_subject{
    height:50px;   
}
div.item_topic{
    height:50px;
}


div.item_subject .subject_name{
margin:19px 0 0 -5px; background: #DDD; padding: 3px 10px; font-size: 1.2em; position:absolute;     
-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    text-align:center;
width:100%;
}

div.item_topic .header, div.item_subject .header{
    margin: -1px 3px; position: absolute; display: block; font-size: 0.8em;
}


button.submit_item{
    cursor:pointer;
    font-size:1.3em;
    height:55px;
    margin:280px 0 0;
    position:absolute;
    width:135px;
    -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
}

button.submit_item.disabled{
color: #999;
}

button.skip_item{
    cursor:pointer;
    font-size:0.8em;
    height:20px;
    margin:245px 0 0;
    position:absolute;
    width:135px;
    -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
}

div.edit_topic input{
font-size:1.2em;
margin:20px 0 0;
width:115px;
}

div.edit_topic button{
    margin:18px 10px; position:absolute;
}

select.item_topic{
font-size:1em;
height:25px;
margin-top:20px;
position:absolute;
width:170px;
}







div.ac_wrapper{
background:#FFFFFF none repeat scroll 0 0;
border:3px solid #DDDDDD;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
float:left;
height:60px;
overflow:hidden;
width:134px;
}

div.ac_wrapper:hover{
color:#777;
background: #B9EDF3;
}

div.ac_wrapper.selected{
background: #3EABF0 none repeat scroll 0 0;
font-weight: bold;
font-size: .9em;
color:#EAF2F8;
}



div.answer_candidate{
    font-size:1.1em;
    margin:23px;
    text-align:center;
}


div.quiz_form{
clear:both;
display:none;
}



/* Item Details */

div.details{
height: 80px; margin-top: 22px; width: 160px; position: absolute;
}


div.details div.author_name{
padding: 7px; font-size: 0.8em; font-variant: small-caps;
}

div.details select{
margin: 5px; display: block; font-size: 0.7em; padding: 0 3px;
}


/* Answer Previews */





div.answer_choice_previews{
position:absolute;
font-size:0.8em;
margin:115px 0 0 -10px;
overflow:hidden;
width:210px;
height:170px;
}

div.answer_preview.wrong{
height:50px;
width:200px;
}

div.answer_preview.correct{
height:50px;
width:200px;
}


div.edit_answer button{
margin:-2px 0 0 6px;
position:absolute;
font-size:0.8em;

}

div.edit_answer input{
margin:0 0 0 10px;
width:120px;
}

div.answer_preview span{
    cursor:pointer;
}

div.edit_answer span.selection{
font-size:1.2em;
font-variant:small-caps;
margin:10px 0;
padding:10px;
}

img.remove_answer{
margin:0 0 -2px 4px;
}

div.answer_preview .correct{
padding:10px;
}

div.answer_preview span.selection{
    font-size: 1.1em;
}

div.answer_preview span.correct.selection{
    margin-left: 5px;
    font-size: 1.4em;
}

div.answer_preview span.edit{
font-size:0.9em;
font-style:italic;
margin-left:10px;
}

div.answer_preview .wrong{
padding:10px;
}

/* Navigation */

div.nav_wrap{
float:left;
margin:0 0 19px 120px;
overflow:hidden;
width:500px;
}
ul.item_navigation{
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:75px 0 0 45px;
position:absolute;
width:680px;
z-index:60;
}

ul.item_navigation div.list { display:none; }

ul.item_navigation div.nav_header{
background:#DDDDDD none repeat scroll 0 0;
cursor:pointer;
font-size:0.7em;
margin:-34px 0 0;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
padding:6px 8px 4px;
position:absolute;
text-align:center;
width:120px;
}

ul.item_navigation div.nav_header.selected{ font-weight: bold; }

ul.item_navigation div.nav_header#my_items{
margin-left: 135px;
}

ul.item_navigation div.nav_header#unapproved_items{
margin-left: 275px;
}

ul.item_navigation div.nav_header#approved_items{
margin-left: 415px;
}


ul.item_navigation div.my_items, ul.item_navigation div.unapproved_items, ul.item_navigation div.approved_items{
height:40px;
line-height:1.4em;
margin:-12px 0 0 130px;
overflow-y:auto;
position:absolute;
width:550px;
}

ul.item_navigation li { float:left; margin: 0 5px; }

ul.item_navigation li a.selected{ color:orange; }

ul.item_navigation li.new a{ float:left; margin: -15px 0 0 -20px; }
       
li.index{
display:inline;
float:left;
height:30px;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:5px;
}

li.index a{
color:#666666;
display:none;
font-size:2em;
line-height:14px;
padding:4px;
text-decoration:none;
}

li.index a.selected{
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
background-color:#EDF2F8;
border-color:#DDDDDD;
border-style:solid;
border-width:5px;
display:inline;
}

.scrollButtons {
position:absolute;
top:425px;
cursor: pointer;
z-index:99;
}

.scrollButtons.answer_prev {
left:-12px;
margin-top:2px;
}

.scrollButtons.answer_next {
left:707px;   
}




span#answers_left{
font-size:1.4em;
}
