<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


  
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <!-- DEFAULT COLORS -->
  <meta name="color:Background" content="#fff"/>
  <meta name="color:Title" content="#222"/>
  <meta name="color:Description" content="#999"/>
  <meta name="color:Text" content="#404040"/>
  <meta name="color:Link" content="#c03030"/>

  <meta name="color:Date Border" content="#cccccc"/>
  <meta name="color:Post Footer" content="#999999"/>
  <!-- END DEFAULT COLORS -->
  <link rel="icon" href="/static/stylesheets/img/favicon.ico" type="image/x-icon"> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://jamtoday.beehold.us/rss"/>
  <title>PlopQuiz - Ad Preview</title>
  

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"></script> 

  

  <link rel="stylesheet" type="text/css" href="/static/beehold/style.css"></link>  
  <!-- <script src="/static/beehold/clean_tumblr_pre.js"></script>  -->



<!--[if !IE]>--> 

<script type="text/javascript" src="/static/beehold/ui.slider.js"></script>



<link rel="stylesheet" type="text/css" href="/static/beehold/shadowbox.css" />

<script type="text/javascript" src="/static/beehold/shadowbox-jquery.js"></script>
<script type="text/javascript" src="/static/beehold/shadowbox.js"></script>

  
<script type="text/javascript" src="/static/beehold/shadowbox_init.js"></script> 

<script type="text/javascript" src="/static/beehold/scroll/jquery.serialScroll-min.js"></script>
<script type="text/javascript" src="/static/beehold/scroll/jquery.scrollTo-min.js"></script> 
 <script type="text/javascript" src="/static/beehold/scroll/sidebar.js"></script>   

                  <!-- iPhone -->
  <meta name="viewport" content="width=675"/>
  <link rel="apple-touch-icon" href="http://data.tumblr.com/avatar_4e086579b3bb_128.gif"/>  <!--<![endif]--> 
  
  
  
      <link rel="stylesheet" href="/static/beehold/styleblue.css" type="text/css" media="all" />  
      



</head>

<body>





<div id="rap">




<div id="masthead"></div>
  
  <div id="main">
  <div id="contain">     
      <div id="content">

       <div class="logo"><a href="http://jamtoday.beehold.us" style="font-size: 1.2em;"> <span style="font-size: 1.3em;">&nbsp;j</span><span style="font-size: .9em;">a</span><span style="font-size: 1em;">m </span><span style="font-size: 1.2em;">t</span>o<span style="font-size: .9em;">d</span>a<span style="font-size: 1.1em;">y</span><span style="font-size: 1.8em;">?</span>   </a></div> 
          <div id="meta"> 

          <li id="rss"> 
          <a rel="shadowbox[Mixed]; options={counterType:'skip',overlayColor: '##005B8B', overlayOpacity: .6, continuous:true}; height=2500;width=950;" title="about" alt="http://beehold.us/james/" href="http://beehold.us/james"><span style="font-size: 1.1em;">a</span><span style="font-size: 1em;">b<span style="font-size: .9em;">o</span>u</span><span style="font-size: 1.1em;">t </span>

          </a>
          
          <a rel="shadowbox[Mixed];options={counterType:'skip',overlayColor: '##005B8B', overlayOpacity: .6, continuous:true}; width=500;height=349;" title="about" href="http://www.beehold.us/beehold/img/pie.jpg">
</a></li><a rel="shadowbox[Mixed];options={counterType:'skip',overlayColor: '##005B8B', overlayOpacity: .6, continuous:true}; width=500;height=349;" title="about" href="http://www.beehold.us/beehold/img/pie.jpg"> /
          </a><li id="archive"><a href="/archive">a<span style="font-size: 1.1em;">r</span><span style="font-size: 1em;">c<span style="font-size: .9em;">h</span>i</span><span style="font-size: 1.1em;">v</span>e</a></li></ul>
       <div id="posts" class="autopagerize_page_element">

        
     
        <div class="post">
        
         <div class="postop"> <div class="pheadfill">&nbsp;</div></div>
 
  <div class="storycontent" id="logocontent"> <div class="thecontent" id="thelogo">
      <div class="logopic">
      <img align="left" src="http://www.beehold.us/beehold/img//cloudmirror.png"/></div><br/><br/><br/><br/><br/><br/><br/>
      </div>
      </div></div></div></div>
      
      
  
  <!--Begin Content-->

 <div id="posts" class="autopagerize_page_element">


  
  
        
        
        <div class="post">
        
         <div class="postop"> <div class="pheadfill">&nbsp;</div></div>
 
  <div class="storycontent"> <div class="thecontent">
  
          
         <!-- <div class="date">
            <span class="month">Jul</span>
            <span class="day">4</span>
          </div> -->
       <!---->
          <!---->


          
           
     
          <div class="regular">
           <h1> <a href="http://jamtoday.beehold.us/post/51940433/my-talk-at-the-freebase-developer-meeting" >My Talk At the Freebase Developer Meeting</a></h1>
            <p>Starting with building Drupal plugins for the Daily my freshman year of college, I&#8217;ve been pretty big a fan of weekend side-projects. Of course, these projects always end after a weekend, or a few weeks at most. There have been plenty of small projects I&#8217;ve worked on that could have conceivably become startups, but my conclusion is always the same - <em>this isn&#8217;t worth the commitment of a lifetime</em>.</p>

<p>So it&#8217;s interesting to look back at the last 6 months and trace the weekend project that has unexpectedly taken me by the collar of my shirt and the laces of my shoes.</p>

<p>Last week, I gave a talk at the September Freebase User Group Meeting. The office is located only a half block away from Snaptalent, and it&#8217;s across the street from Slide.</p>

<p ><object width="600" height="450" id="vimeo_object" class="vimeo">   <param name="allowfullscreen" value="true">
<param name="allowscriptaccess" value="always"> <param name="quality" value="high">
<param name="embed" value="transparent"><param name="allowfullscreen" value="true"><param name="wmode" value="opaque">
<param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=1821493&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1">
<embed wmode="opaque" src="http://vimeo.com/moogaloop.swf?clip_id=1821493&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="600" height="450"></embed></object></p>

<p>The talk is about the collaborative environment of the Freebase Platform, and how it bodes well for a strong Freebase development community.</p>

<p>From <strong>3:30</strong> to <strong>6:30</strong> I briefly talk about my initial random experimentation with automated quiz generation that were <a href="http://www.readwriteweb.com/archives/metawebs_freebase_now_60_large.php" target="_blank">featured on ReadWriteWeb</a>, and how we&#8217;ve more recently built a more  scalable quiz building framework.</p>

<p>I left a lot out, particularly about our plans to add data back to Freebase as well as withdraw data. On the Nov. 8th Freebase Platform Hack Day, we&#8217;ll be making a more formal announcement about this initiative, and throwing in a few pony references for good measure.</p>
          </div>

          

          

          
        
          
          

          
          

          
        
          
          </div><!--End thecontent-->
          
<br/>
        
        </div><!--End Storycontent-->
        </div><!--End Single Post-->
          
        <img src='/static/beehold/img/stem.png' class='stem' />  <div class="avatar" ><img src='http://data.tumblr.com/avatar_4e086579b3bb_30.gif' /></div> <br/>
        <br />

       



        
        




<script type="text/javascript">var disqus_url = "http://jamtoday.beehold.us/post/41000479/the-living-is-easy"; var disqus_title ="The Living Is Easy";</script>


<!-- Uncomment in production

<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/jamtoday/embed.js"></script>


<script type="text/javascript">
//<[CDATA[
(function() {
        links = document.getElementsByTagName('a');
        query = '?';
        for(var i = 0; i < links.length; i++) {
            if(links[i].href.indexOf('#disqus_thread') >= 0) {
                query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
            }
        }
        
    })();
//]]>
</script>


-->

        </div><!--End Posts-->
        
        

  <!--End Content-->

        
        
        <div id="prev-next" class="prev-next">

          
          <!--Page 1 of 1-->
          
        </div>
        
       
      </div> <!-- end content div -->
<!--[if !IE]>--> 

<!--- !sidebar --->

<div id="sidebar">
 <!-- sidebar first -->
 
          <div id="content" class="sidebar_content">


       <div id="sideposts" class="autopagerize_page_element">

          <div style="padding-bottom: 0px;" class="post">
        
         <div class="postop"> <div style="padding: 10px;" class="pheadfill"> </div></div>
 
  <div id="side_storycontent" class="storycontent"><ul> 

<div class="thecontent" id="thesidecontent"> 



<li> 
<br/>
<div class="sideitem"> 

<script type="text/javascript" charset="utf-8" src="/static/scripts/display.js"></script>

<script type="text/javascript" charset="utf-8">var w='237';var h='177';if (typeof snaptalent != 'undefined') { var i = '35399f3c1ab9acc09412d55b3a45cdcc647bcb9e'; snaptalent.d(i,'x','x'); }</script>

</div>
</li>

        
       


      </div>  









</ul>   </div></div>
 <img src='/static/beehold/img/stem.png' class='stem' id="sidestem" />
</div></div>

<!--<![endif]--> 

    </div>
    </div></div>



                   

<!-- BEGIN ANALYTICS CODE
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var woopra_id = '2018430804';
</script>
<script src="http://static.woopra.com/js/woopra.js"></script>

<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-4418963-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
 END ANALYTICS CODE --></body>

</html>
