<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" media="screen" href="/static/stylesheets/quizframe.css"/>






<title>{% block title %} Quiz Item {% endblock title %} </title></head>

<body class="frame_body">

{{ index }}
<div class="quiz_frame_header">

{% block quiz_frame_logo %}
<div class="quiz_frame_logo" id="{{ theme }}">
<img src="/static/quiz_item/{{ theme }}.png"/>
</div>
{% endblock %}


<div class="quiz_frame_title" >

<div class="tab" >
<div id="quiz_category">{% block quiz_frame_title %} {{ topic_name }}{% endblock quiz_frame_title %}
</div>

<img class="tab_left" alt="" src="/static/html/img/tab.png"/>
</div>



</div>


</div>






<div class="quiz_frame_content" >


<div class="quiz_frame_text">

{% block quiz_frame_text %}{{ content }} {% endblock quiz_frame_text %}


</div>


</div>


</body></html>
