
/* action feed */


div#action_feed{
height:140px;
overflow:hidden;
}

.action_item{
height:100px;
margin:10px 0;
padding:5px 0 15px;
width:440px;
}


.is_winner{
margin:4px 10px;
}

.is_subject{
float:right;
width:120px;
margin:-83px 10px;
height:80px;
overflow:hidden;
}


.is_recipient{
margin:4px 15px;
}

.is_sponsor{
float:right;
margin:-114px 18px;
}

span.action_type{
display:block;
font-size:1.5em;
line-height:1.3em;
margin:5px 0px 0px 120px;
text-align:center;
width:160px;
background: #FFF;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        padding: 3px;
}

span.action_date{
background:wheat none repeat scroll 0 0;
border-width:3px;
display:block;
font-size:0.7em;
margin:4px 0 0 166px;
padding:3px;
text-align:center;
width:90px;
}

span.sponsored_by{
margin-left: 135px;
}


div.mc{
font-size:1.5em;
margin:13px 0 0 16px;
}

div.mc_correct{
font-weight: bold;
}


div.intro_item_header{
font-size:1.2em;
margin:10px 8px 0px;
}

div.intro_item{
line-height:1.2em;
margin:3px 15px;
}

div.intro_item a{ font-weight: bold; }
