<div class="quiz_frame_header" style="height:66px;">
        <div class="quiz_frame_logo" id="pq" style="margin:0 0 0 43px !important;">
               <img src="{{ http_host }}/static/stylesheets/img/quiztaker/pq_logo_h_small.png"/>
        </div>
</div>


<div class="quiz_frame_content" style="height:190px;">
        <div class="quiz_intro_text" style="margin-top:15px !important;" >
                <div class="quiz_selection" id="choose_profs">
                        <div class="quiz_description" id="profs" >
                        
                                <div class="begin_quiz" >  
                                        <br/>This quiz will require about  <div id="quiz_minutes">3</div>  uninterrupted minutes.</div>
                                        

                                
                                <br/>
                                <div class="begin_quiz" id="click_below"> 
                                       Click below to begin.
                                </div>
                        </div>
                </div>
        </div>
</div>
