<div class="quiz_frame_header" style="height:66px;">

<div class="quiz_frame_logo" id="pq">
<img src="{{ http_host }}/static/stylesheets/img/quiztaker/pq_logo_h_small.png"/>
</div>

</div>


<div class="quiz_frame_content" id="instructions_frame">





<div class="quiz_intro_text" >

<p id="quiz_header">Taking A Quiz</p> <span id="skip_tutorial" class="second">Skip Tutorial</span>


<div class="quiz_selection" style=" background: #EDF2F8 none repeat scroll 0 0 !important;">


<div class="hover_example" id="second_example" >
96% of vehicles are now powered by
<span id="blank">
</span>
</div>


<div class="quiz_description second_frame" >


<div class="quiz_tutorial_text second_frame" id="example_1" style="margin-top:-10px !important;" >  <br/> Speed improves your score.<br/><br/>Try submitting an answer before the timer runs out. </div>

<div class="quiz_tutorial_text second_frame" id="example_3" style="display: none;"> <div style="height:6px;"></div> Not fast enough! <div style="height:15px;"></div> Submit an answer. Just click one of the blue buttons below!</div>


<div class="quiz_tutorial_text second_frame" id="example_2"  style="display: none;" > Skipping items is better than submitting a wrong answer.<div style="margin:0px 0px 20px 0px;"></div> Click the pink Skip button.</div>





</div>





</div>




</div>


