<div class="quiz_frame_header" style="height:66px;">

<div class="quiz_frame_logo" id="pq">
<img src="{{ http_host }}/static/stylesheets/img/quiztaker/pq_logo_h_small.png"/>
</div>

</div>


<div class="quiz_frame_content" id="instructions_frame">





<div class="quiz_intro_text" >

<p id="quiz_header" style="margin:5px 0 10px -20px !important;">Taking A Quiz</p> <span id="skip_tutorial" class="first">Skip Tutorial</span>


<div class="quiz_selection" style="height:158px; background: #EDF2F8 none repeat scroll 0 0 !important;">




<div class="hover_example first_example" >

I'd be at school today but  the
<span class="first_example" id="blank">
</span>
my quiz.



</div>




<div class="quiz_description" style="">

<div id="example_1" class="quiz_tutorial_text first_frame" > <div> To the right is a quiz item. </div> Hover over the blue buttons to preview your answer. </div>

<div class="quiz_tutorial_text first_frame" id="example_2" style="display: none;" >  <br/> Try clicking a blue answer button to submit your answer.</div>



</div>





</div>




</div>
