

<div class="quiz_frame_header" style="height:65px;">

<div class="quiz_frame_logo" id="pq">
<img src="{{ http_host }}/static/stylesheets/img/quiztaker/pq_logo_h_small.png"/>
</div>

</div>

<div class="subject_thumb_container">
{% for p in proficiencies %} 

{% include "intro/subject_thumb.html" %}

{% endfor %}
</div>

<div class="quiz_frame_content intro_frame_content" >

{% for p in proficiencies %} 

<div id="subject_container_{{ forloop.counter }}" class="subject_container" style="display:none;">

{% include "intro/subject_frame.html" %}

<div class="subject_guide" id="{{ p.name }}">

<div class="subject_preview_header">
<button class="summary" id="{{ forloop.counter }}" >Summary</button><button class="study" id="{{ forloop.counter }}" >Study Guide</button>
</div>


<div class="subject_panel" id="summary_{{ forloop.counter }}">

 <div class="subject_description summary">{{ p.blurb }}</div>
 
 <div class="subject_stats">
 <div class="subject_stat popularity"><h3>Popularity: </h3>  <div class="statometer" ><img src="http://chart.apis.google.com/chart?chs=45x25&cht=gom&chd=t:{{ p.popularity }}&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div> </div>
 <div class="subject_stat difficulty"><h3>Difficulty: </h3>  <div class="statometer" ><img src="http://chart.apis.google.com/chart?chs=45x25&cht=gom&chd=t:{{ p.difficulty }}&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div></div>
 </div>
 
  <div class="share_quiz">
  <div class="quiz_code">
  <div class="share_quiz_text">share this quiz</div>
 <div class="share_options">
  <a target="_blank" href="http://www.facebook.com/sharer.php?u={{ http_host }}/quiz/{{ p.name }}"><button id="facebook"  title="facebook"><img width=16 height=16 src="{{ http_host }}/static/stylesheets/img/accounts/facebook.gif"/></button></a>   
   <a target="_blank" href="http://twitter.com/home/?status=I just took a @plopquiz at {{ http_host }}/quiz/{{ p.name }}"><button id="twitter"   title="twitter"><img width=16 height=16 src="{{ http_host }}/static/stylesheets/img/accounts/twitter.png"/></button>  </a>
   <button title="link" id="link">link</button> 
   <button title="embed" id="embed">embed</button>
  </div>
  </div> {# end share_quiz #}

 
 <div class="share_popup">
 
 <div class="embed" style="display:none;">
 <span>embed this quiz</span> <input type="text" value="<script src=&quot;{{ http_host }}/js/quiz/{{ p.name }}&quot; type=&quot;text/javascript&quot;></script>" onClick="$(this).select();" name="embed"/>
 </div>
  <div class="link" style="display:none;">
 <span>link to this quiz</span> <input type="text" value="{{ http_host }}/quiz/{{ p.name }}" onClick="$(this).select();" name="link"/>
 </div>
 
 </div> {# end share_popup #}
 
 </div>
 </div>   {# end summary #}
 
 
 
 
 <div class="subject_panel" id="study_{{ forloop.counter }}" style="display:none;">
 
 <div class="subject_description study_guide">
 
 <div id="links" class="study_header links_header">Links</div>
 <div class="study_content study_links no_drag">
{% for link in p.links %}
<li><a target="_blank" href="{{ link.url }}">{{ link.title }}</a> 
{% endfor %}
</div>
<div id="videos" class="study_header videos_header">Videos</div> 
 <div class="study_content study_videos no_drag" style="display:none;">
<object width="280" height="195"><param name="allowFullScreen" value="true"></param><param name="movie" value="http://www.youtube.com/p/{{ p.video_html }}&hl=en&fs=1&color1=0x2b405b&color2=0x6b8ab6&border=0"></param><embed class="no_drag" src="http://www.youtube.com/p/{{ p.video_html }}&hl=en&fs=1&color1=0x2b405b&color2=0x6b8ab6&border=03" allowfullscreen="true" type="application/x-shockwave-flash" width="280" height="195"></embed></object>
</div>


 
 </div>
 
 </div>   {# end study guide #}



 
 
 </div> {# end subject preview #}


</div>

{% endfor %}


</div><!-- quiz_frame_content -->


