{% extends "../base.html" %}

{% block head %}  {% endblock %}

{% block title %}Take a {{ quiz_subject }} Quiz{% endblock %}
{% block description %}Take a {{ quiz_subject }} Quiz at PlopQuiz!{% endblock %}
{% block thumbnail %} {# TODO: This Quiz #}
<img src=""/>
<link rel="image_src" href="{{ http_host}}/image/subject/?img_id={{ quiz_subject.images.1.key }}&size=small" type="image/png" {# Variable sizes - not including dimensions data-width="157" data-height="157" #} />
{% endblock %}



 {% block login %} {% endblock login %}
{% block main %}

<h1 style="display:none;">Take a {{ quiz_subject }} Quiz</h1>

{# this opens when quiz closes #} <div id="on_quiz_close" style="display:none;"></div>


<script src="{{ http_host }}/js/quiz/{{ quiz_subject }}?autostart=True" type="text/javascript" rel="javascript"></script>


{% endblock %}
