

div.pb_container{
border-bottom:1px solid #CCCCCC;
border-top:1px solid #CCCCCC;
height:234px;
margin:105px 0 0 710px;
position:relative;
width:300px;
}

div.profile_outer{
height: 430px;
position:absolute;
margin:-102px 0;
}

div.pb_scroll{
height:300px;
overflow:auto;
margin:0 0 0 30px;
padding:20px;
}


div.user{
margin:4px 92px 0 0;
width:120px;
}

div.pic{
height:50px;
margin:7px 0 4px;
width:50px;
}

img.pb_prev{
float:left;
margin:-56px 0 0 70px;
position:absolute;
}



img.pb_next{
float:left;
margin:-100px 0 0 65px;
position:absolute;
}

div.user div.ranked{
margin:5px 0;
font-size: 1em;
}

div.user div.ranked span, div.user div.score span{
font-size:2.2em;
margin:0 0 0 0;
padding:0 10px;
}

div.user div.score{
margin:5px 0 15px;
font-size: .9em;
}



div#limit span{
font-weight: bold;
font-size: 1.1em;
}


div.profile_loading{
float:left;
}
