{% extends "../base.html" %}
{% block title %}
#QuiztheBill - Because Congress Needs Help With Their Homework
{% endblock %}
		{% block login %}{% endblock login %}
		
{% block head %}

<style type="text/css"> 
{% include "../../static/stylesheets/frontpage.css" %}
</style> 


 
 <script type="text/javascript"> {% include "frontpage.js" %}</script>
{% endblock %}


{% block main %}

<div id="header">
<h2>
<span style="font-size: 0.8em;">#</span><span style="font-size: 1.3em;">Q</span>uiz<span style="margin: 0pt 9px; font-size: 0.6em;">the</span><span style="font-size: 1.3em;">B</span>ill
</h2>
</div>
<div id="sub_header">Because Congress Needs Help With Their Homework</div>

<div><script src="{{ pq_server }}/js/quiz/{{ featured_subject }}" type="text/javascript"></script></div>

<div id="intro" class="frame_box panel">

	<p><a style="font-size: 1.1em;">QuiztheBill</a> is a collaborative, free, public resource of quizzes about new congressional bills.</p>

	<p>This project is inspired by <a style="font-size: 1.1em;"href="http://www.readthebill.org">ReadtheBill.org</a>, a site asking us to demand more transparency and accountability from the federal legislation process. </p>

	 
	  
	 
	<button id="readthebill">
	  <div style="clear:both;">
	  <img id="read_button"  src="http://media.sunlightprojects.org/readthebill/images/v2/72_button_b.png"/>
	  <img id="st_button" src="http://media.sunlightprojects.org/readthebill/images/v2/72_button.png"/>
</div>
<object width="400" height="302"  ><param value="true" name="allowfullscreen"/><param value="always" name="allowscriptaccess"/><param value="http://vimeo.com/moogaloop.swf?clip_id=3366620&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" name="movie"/><embed width="400" height="302" allowscriptaccess="always" allowfullscreen="true" type="application/x-shockwave-flash" src="http://vimeo.com/moogaloop.swf?clip_id=3366620&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1"/></object>
</button>

<div id="contribute" class="note">Contributing quiz items is easy!  <div style="height:30px;"></div> Just click one of the bills below.</div>
</div>

<div class="info_note panel" id="updates">
<div id="first_response"><button><img src="/static/stylesheets/img/utils/purple_next_tiny.png"/>Send Me Updates About New Bills</button></div>


<input type="text"/></div>


<div class="panel" id="bills">
{% for bill in bills %}
<a href="/bill/{{ bill.title }}">
<div class="bill">
<div class="image"><img src="http://govpix.appspot.com/{{ bill.sponsor_name }}" width="70" /></div>
<div class="title_container">
<div class="title">{{ bill.title }}</div>
</div>
<div style="clear:both"></div>
<div class="stats_container"><div class="stats">
<li><strong>Sponsor:</strong>{{ bill.sponsor }}</li>
<li><strong>Introduction Date:</strong>{{ bill.introduction_date }}</li>
<li><strong>Status:</strong>{{ bill.status }}</li>
<li><strong>Latest Action:</strong>{{ bill.latest_action }}</li>

{% if bill.next_step %} <li><strong>Next Step:</strong>{{ bill.next_step }}</li> {% endif  %}

</div></div>


</div>


</a>

{% endfor %}
</div>



<div id="sitelinks_header" class="note">
<h3>Democracy is Spreading</h3>
</div>
<div id="sitelinks">

<a target="_blank" href="http://www.sunlightnetwork.com/"><img height="72" src="/static/stylesheets/img/quiz_the_bill/sunlight.gif"/></a>
<a target="_blank" href="http://www.opensecrets.org/"><img height="72" src="/static/stylesheets/img/quiz_the_bill/opensecrets.gif"/></a>
<a target="_blank" href="http://www.change-congress.org"><img height="72" src="/static/stylesheets/img/quiz_the_bill/cc.png"/></a>
<a target="_blank" href="http://tweetcongress.org"><img height="72" src="/static/stylesheets/img/quiz_the_bill/tc.png"/></a>

<a target="_blank" href="http://www.govit.com"><img height="72" src="/static/stylesheets/img/quiz_the_bill/govit.png"/></a>
<a target="_blank" href="http://www.maplight.org/"><img height="72" src="/static/stylesheets/img/quiz_the_bill/maplight.gif"/></a>
<a target="_blank" href="http://www.watchdog.net/"><img height="72" src="/static/stylesheets/img/quiz_the_bill/watchdog.png"/></a>
<a target="_blank" href="http://www.opencongress.org"><img height="72" src="/static/stylesheets/img/quiz_the_bill/opencongress.gif"/></a>
<a target="_blank" href="http://www.publicmarkup.org"><img height="72" src="/static/stylesheets/img/quiz_the_bill/public_markup.png"/></a>
<a target="_blank" href="http://www.commoncause.org"><img height="72" src="/static/stylesheets/img/quiz_the_bill/common_cause.jpg"/></a>

</div>

{% endblock %}


{% comment %}



{# Buttons and Bling #}
<a href="http://www.opencongress.org"><img src="http://www.opencongress.org/images/logo_button_120px.gif" alt="OpenCongress.org" /></a> <a href="http://www.opencongress.org"><img src="http://www.opencongress.org/images/logo_button_80px.gif" alt="OpenCongress.org" /></a>



{% endcomment %}
