<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" media="screen" href="/static/stylesheets/demo/quizframe.css"/>





<title>Plopquiz Instructions </title></head>

<body class="frame_body">
<div class="quiz_frame_header" style="height:66px;">

<div class="quiz_frame_logo" id="pq" style="margin:0 0 0 43px;">
<img src="/static/html/img/pq_logo_h_small.png"/>
</div>

</div>


<div class="quiz_frame_content" style="height:230px;">





<div class="quiz_intro_text" style="margin-top:15px;" >




<div class="quiz_selection" id="choose_profs">






<div class="quiz_description" id="profs" >

<div class="begin_quiz" >  
<br/>This quiz assesses proficiency in the following areas:</div>

<form id="proficiency_choices">
<input type="checkbox" name="proficiency1" value="Building Webapps" checked><span>Building Web Apps</span><br/>
<input type="checkbox" name="proficiency2" value="Clean Energy" checked><span>Clean Energy</span><br/>
<input type="checkbox" name="proficiency3" value="Collective Intelligence" checked><span>Collective Intelligence</span><br/>
<input type="checkbox" name="proficiency4" value="Startup Financing" checked><span>Startup Financing</span><br/>
</form>

<div class="begin_quiz" style="margin-top:10px"> 
Uncheck any you're not interested in...<br/> - it won't count against you.</div>




</div>





</div>




</div>




</body></html>
