<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" media="screen" href="/static/stylesheets/demo/quizframe.css"/>





<title>Plopquiz Instructions </title></head>

<body class="frame_body">
<div class="quiz_frame_header" style="height:66px;">

<div class="quiz_frame_logo" id="pq">
<img src="/static/html/img/pq_logo_h_small.png"/>
</div>

</div>


<div class="quiz_frame_content" style="height:210px;">





<div class="quiz_intro_text" >

<p class="quiz_header"><b>How To Take a Quiz</b></p> 


<div class="quiz_selection" style="height:158px; background: #EDF2F8 none repeat scroll 0 0;">




<div class="hover_example" >

I'd be at school today but <div class="focus" style="margin-top:5px;"> the
<span class="blank">
</span>
<br/>
 my quiz.
</div>


</div>




<div class="quiz_description" style="margin:2px 0px 0px 0px; height:140px; width:140px; float:left; background: url(/static/html/img/background_150.png) repeat-x scroll center top;">

<div id="example_1" class="quiz_tutorial_text"> <div style="margin:5px 0px 10px 0px;"> Here's an example quiz item.</div> Hover over the blue buttons to preview your answer. </div>

<div class="quiz_tutorial_text" id="example_2" style="display: none; padding: 0px 0px 0px 6px; margin-top:-5px;" >  <br/> Easy, right? <br/><br/> Try clicking one of the items to submit your answer. </div>



</div>





</div>




</div>




</body></html>
