div#left{ 
float:left;
padding:40px 0 0 10px;
width:460px;
}

div#right{
float:right;
padding:30px 10px 0 0;
width:460px;
}

div#cs_intro{
height:410px;
}

div#recent_sponsorships{ height:190px;}


div#sponsor_apply{ height:240px;}



div#cs_intro h1{
font-size: 1.6em;
}

div#cs_intro p{
font-size:1.5em;
line-height:1.02em;
margin:18px 3px;
width:420px;
}

div#cs_intro p.big{
/* font-size:1.6em; */
}




div#cs_intro ul{

}


div#cs_intro ul li{
list-style:disc;
font-size:1.2em;
line-height:1.1em;
margin:10px 35px 0;
}


.error{
color:red;
display:none;
font-size: .6em;
}









/* Application Form */

div#sponsor_signup{
margin:10px 0;
height: 50px;
width: 435px;
}

form#sponsor_apply{
font-size:1.2em;
margin:0 0 0 10px;
}

form#sponsor_apply fieldset{
height:85px;
}

button#sponsor_submit{
margin:-15px 30px;
}

form#sponsor_apply input{
font-size: .9em;
padding: 2px;
margin: 5px 3px 0px 0px;
}




div#submit_success{
height:100px;
padding:30px;
font-size:1.2em;
}
