
div.logo{
height:100px;
margin:40px 0 -30px 150px;

}


div#descriptions{
height: 170px;
width:900px;
margin:20px 0;
}


div.description{
margin:10px;
background: #FFFFFF; 
display:none;
height:120px;
}

div.description_text{
float:left;
font-size:1.3em;
line-height:1.2em;
margin:-125px 200px;
width:650px;
}

div.proficiency_container{
position: relative;
margin:0 55px;
}

div.proficiencies_scroll{
height: 140px;
width:720px;
overflow:auto;
}


div.proficiency{
/* margin:10px 0;
width:170px; */
margin:10px 15px 0 2px;
width:130px;
 cursor:pointer;
}

div.proficiency_title{
font-size:2em;
margin:5px -15px;
text-align:center;
width:260px;
}

div.proficiency:hover{
border: 1px solid #F3E5FF;
background-color: #F3E5FF;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
cursor:pointer;
}

h1.proficiency{
margin:-55px 80px;
}



.scrollButtons {
  cursor: pointer;
  z-index:99;
  float:left;
}

.scrollButtons.proficiency_prev {
margin:51px 20px 0 -55px;
}

.scrollButtons.proficiency_next {
margin:-90px 750px;
   
}



div.pfstat{
-moz-border-radius: 12px;
-webkit-border-radius: 12px;
background:#DDDDDD none repeat scroll 0 0;
border:2px solid #DDDDDD;
color:#000040;
float:left;
height:28px;
line-height:1em;
padding:3px;
text-transform:none;
width:170px;
}

div.pfstat#popularity{
margin:-42px 470px;
}

div.pfstat#difficulty{
margin:-42px 660px;
}


div.pfstatometer{
float:right;
margin:-24px 0 0;
}

div.pfstat h3{
margin: 7px 0px 0px 20px;  
}


div.buy_button{
float:left;
margin:-40px 250px;
}
