{% extends "../base.html" %}
{% block head %}

<link rel="stylesheet" type="text/css" media="screen" href="/static/stylesheets/homepage/about.css"/>
<!--<script type="text/javascript" src="/static/scripts/homepage/homepage.js"></script> -->

{% endblock %}


{% block main %}


<div class="frame_box about_box">
<h1>Show What You Know</h1>

<b>Plopquiz</b> is a faster, more cost-effective way to take quizzes and earn certifications.

<h1>Our Grading Policy</h1>

Reliability roadmap. 

Link to specification and numbers.
</div>


{% endblock %}
