{% extends "../base.html" %}
{% block head %}

<link rel="stylesheet" type="text/css" media="screen" href="/static/stylesheets/homepage.css"/>
<script type="text/javascript" src="/static/scripts/homepage/homepage.js"></script>

<!-- freebase -->
<script type="text/javascript" src="/static/scripts/freebase-suggest/freebase.suggest.js"></script>
<link type="text/css" rel="stylesheet" href="/static/scripts/freebase-suggest/dist/css/freebase-controls.css" />
  <style type="text/css"> 
  .fbs-li-types { display:none; }   /* if you want to hide the type info in the suggest popup */
 </style>

{% endblock %}


{% block main %}
										<a style="float:right; display:block;" onclick="window.open('http://www.co2stats.com/certpro.php?s=1217&ref=http://www.plopquiz.com','popup','width=550,height=515,scrollbars=yes,resizable=yes,toolbar=no,directories=no,location=no,menubar=no,status=no,left=0,top=0');return false;" href="http://www.co2stats.com/certpro.php?s=1217&ref=http://www.plopquiz.com/">
<img border="0" src="/static/stylesheets/img/homepage/green_site.png"/>
</a>
					


		<div class="left">		
						<div id="logo">
							<img src="/static/stylesheets/img/homepage/horizontal_logo.png" alt="" />
						</div>
						<div id="intro">
							<div id="smart">smart</div>
						
							<div id="blinder"> quizzes  &nbsp; for</div>
							<div id="motto">
								<span class="blank"><span class="smart_span_holder" id="smart1">smart</span></span> quizzes for 
								<span class="blank" id="two"><span class="smart_span_holder">smart</span></span> people
							</div>
			
						</div>
		</div>	



<div class="right">	
<div class="right_inner">	

<div class="upgrade">Upgrade your resume in <span class="mag">five minutes</span>. It's <span class="mag">free</span>. </div>

<div id="take_quiz">

<h1>Take an <span id="et">Energy Tech</span> <span id="q">Quiz</span></h1>

<!--<div id="energy_pic"><img src="/static/stylesheets/img/homepage/energy_small.png"/></div> -->
<div class="p_links"><a>biofuels</a> - <a>finance</a> - <a>solar power</a> - <a>law &amp; policy</a> -  <a>smart grid tech</a> - <a> and more!</a></div>

</div>

<div class="employers frame_box">
<h3>Employers</h3>
<div id="claim">claim your profile and discover new talent.</div>
<input type="text" id="employer_name" value="what's the name of your business?" />
</div>

</div>
</div>




{% endblock %}
