/* Global Resets */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
/*	vertical-align: baseline; */
	background: transparent;
	text-decoration:none;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}



a{
cursor:pointer;
color:#000040;
}


fieldset,homepage {
border: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

:focus {
outline: 0;
}

sub, sup {
font-size: 8px;
line-height: 0;
}

body, html {
margin: 0;
padding: 0;
height: 105%;
}

/* Liquid Sitelet Box */
.clear { clear: both; }
.sitelet .left { float: left; width:417px; }
.sitelet .right { float: right; width:509px; }
.sitelet .top, .sitelet .bottom { position: relative; }

.sitelet .top .liquid { background:url(/static/stylesheets/img/base/sitelet-top.png) repeat-x; }
.sitelet .bottom .liquid { background:url(/static/stylesheets/img/base/sitelet-bottom.png) repeat-x; }
.sitelet .middle .wrap1 { background: url(/static/stylesheets/img/base/sitelet-left.png) repeat-y top left; }
.sitelet .middle .wrap2 { background: url(/static/stylesheets/img/base/sitelet-right.png) repeat-y top right; }
.sitelet .corner {
width: 11px;
height: 11px;
background: url(/static/stylesheets/img/base/sitelet-corners.png) no-repeat;
}
.sitelet .top {	
height: 11px; div#quiz_overlay {
background-color: #333;
height: 100%;
left: 0;
opacity: .8 !important;
filter: alpha(opacity=80) !important;
-moz-opacity: 0.8 !important;
-khtml-opacity: 0.8 !important;
position:absolute;
top: 0;
width: 100%;
z-index: 90;
}

}
.sitelet .bottom {
height: 35px;
}
.sitelet .top .liquid{
margin: 0px 11px;
height: 11px;
}
.sitelet .bottom .liquid {
margin: 0px 11px;
height: 35px;
}
.sitelet .top .left.corner {	background-position: 0px 0px; }
.sitelet .top .right.corner { background-position: -11px 0px; }
.sitelet .bottom .left.corner { 
background-position: 0px -11px; 
height: 35px;
}
.sitelet .bottom .right.corner { 
background-position: -11px -11px; 
height: 35px;
}
.sitelet .middle .main_wrapper {
background: #F7F5F4;
margin: 0px 0px 0px 3px;
width:944px;
min-height:480px;
}

.sitelet .middle .main_wrapper .main{
background: #F7F5F4;
/* height:480px; TODO: problems on some pages */
overflow:hidden;
height:480px;
}

.sitelet .middle .main_wrapper .main.hide{
display: block !important; 
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	*/
}
/* Flyer */



#flyer {
	top: 20%;
	left: 0%;
}

#flyer a {
	width: 60px;
	height: 45px;
	background: url(/static/stylesheets/img/base/plane.png) no-repeat;
	position: absolute;
	text-decoration:none; 
	display: block;
    top: 10%;
	left: 0%;
	z-index: 100;
}
#flyer a span {
visibility:hidden;
}

/* Homepage */


body {
background:#BFDAFF url(/static/stylesheets/img/base/bg_repeat.png) repeat scroll left bottom;
 font-family: Georgia, "Times New Roman", Times, serif; 
/* font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;   --mstcorefonts not required */
font-size:100%;
}

body.repeat{
background:transparent url(/static/stylesheets/img/base/bg_repeat.png) repeat scroll left bottom;
}


#viewport {
width: 100%;
height: 100%;
position: fixed;
}

#land, #clouds-far, #clouds-near {
background-position: 0px 0px;
}


#clouds-near, #clouds-far {
position: absolute;
top: 15%;
left: 0px;
width: 100%;
height: 100%;
}
#clouds-far {
background:url(/static/stylesheets/img/base/clouds-far.png) repeat-x;
z-index: 10;
top: 12%;
}
#clouds-near {
background:url(/static/stylesheets/img/base/clouds-near.png) repeat-x;
z-index: 20;
}
#land {
position: absolute;
width: 100%;
height: 92px;
left:0px;
bottom: -14px;
background:url(/static/stylesheets/img/base/land.png) repeat-x;
z-index: 15;
}
#cutoff {
position: absolute;
width: 100%;
height: 100%;
z-index: 5;
top: 0px;
left: 0px;
overflow: hidden;
}



#sitelet-home {
/* Half width and height offset*/
color:#434343;
font-size:14px;
left:50%;
margin-left:-477px;
margin-top:-248px;
position:absolute;
top:50%;
width:950px;
z-index:90;
}



/* Global Styles */


h1{
font-size:3em;
letter-spacing:0.12em;
}

div.headline{
font-size:2em;
letter-spacing:0.06em;
}


.selection_box
{
        -moz-border-bottom-colors:  #777 #888 #999 #aaa #bbb #ccc;
        -moz-border-top-colors:     #777 #888 #999 #aaa #bbb #ccc;
        -moz-border-left-colors:    #777 #888 #999 #aaa #bbb #ccc;
        -moz-border-right-colors:   #777 #888 #999 #aaa #bbb #ccc;
        border:10px solid #DDDDDD;
        background:#EEEAF8 none repeat scroll 0 0;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
}

/* make sure subjects fill the whole box */

.sliderImage img, .bigsliderImage img { min-width: 101%; min-height: 101%; }

ol.sliderContent, ol.sliderContent li{ height: 100%; width: 100%; }


div.input_float{
float:left;
width:180px;
}

/* Nav Bar */

div#login{
background:#F7F5F4 none repeat scroll 0 0;
color:#333333;
font-size:0.9em;
font-weight:bold;
height:20px;
line-height:1.1em;
margin:0px 7px -20px;
position:absolute;
}

div#login a{
text-decoration: none;
}

div#login a.profile{
/* margin:0 12px 0 0;  with thumb */
margin: 0px;
}

div#login a img{
float:left;
margin:-5px -102px 0 86px;
border:1px solid #DDDDDD;
display:none; /* temporary? */
}

div#right_corner{
height:0;
margin:-6px 0 0 892px;
position:absolute;
}
div#right_corner img{
cursor: pointer;
}

div#right_corner span{
float:left;
font-size:1.1em;
font-weight:bold;
margin:4px 3px;
}


/* Pictures */


.proficiency_pic{
overflow:hidden;
cursor:pointer;
}



/* Quick Links */

div.quick_links{
bottom:25px;
font-size:0.8em;
left:790px;
position:absolute;
z-index:100;
}







img.scrollButtons{
cursor:pointer;
}



/* common */


.selection_box, .gray_box, .gray_square_box, .frame_box, .note, .info_note, .warning_note{
    overflow:hidden;
}

.hidden, .hide{
display:none;
}
.panel_box{
border:1px solid #CCCCCC;
font-size:1.1em;
cursor:pointer;
}

.panel_box:hover{
background:#DDDDDD none repeat scroll 0 0;
color:#333333;
}

.panel_box a, .info_note a, .warning_note a{
font-weight:bold;
}

.note
{
-moz-border-radius:5px;
-webkit-border-radius: 5px;
background-color:#EFF3F8;
border:5px solid #D0E3F8;
padding:10px;
}

.info_note
{
-moz-border-radius:5px;
-webkit-border-radius: 5px;
background-color:#FFFEEB;
border:5px solid #F7CA75;
padding:10px;
}

.pq_note{
-moz-border-radius:5px;
-webkit-border-radius: 5px;
background-color:#FFDFFF;
border:5px solid #BE6FFF;
padding:10px;
}

h2.info_header{
line-height:1.1em; font-size:1.1em
}

.warning_note{
-moz-border-radius:5px;
-webkit-border-radius: 5px;
background-color:#EBCFEB;
border:2px solid #FF7F81;
padding:10px;
}

.gray_box{
background:#FCFCFC repeat-x scroll 0 100%;
border:5px solid #DDDDDD;
float:left;
margin:4px;
width:95px;
-moz-border-radius:5px;
-webkit-border-radius: 5px;
}

.gray_square_box{
background:#FCFCFC repeat-x scroll 0 100%;
border:5px solid #DDDDDD;
-moz-border-radius:8px;
-webkit-border-radius: 8px;
height:95px;
margin:4px;
width:95px;
float:left;
position:relative;
overflow:hidden;
}

.square_box{
height:95px;
margin:4px;
width:95px;
}

.gray_box_header{
float:left;
margin:-17px 0 0 200px;
position:relative;
}

span.checkbox{
margin-left:10px;
color:#EAF2F8;
}

span.checkbox:hover{
color:#DDDDDD;
}


div.frame_box{
-moz-border-radius:5px;
-webkit-border-radius: 5px;
background:#FFFFFF none repeat scroll 0 0;
border:5px solid #DDDDDD;
padding:10px;
}

.purple_box{
-moz-border-bottom-colors:#777777 #888888 #999999 #AAAAAA #BBBBBB #CCCCCC;
-moz-border-left-colors:#777777 #888888 #999999 #AAAAAA #BBBBBB #CCCCCC;
-moz-border-radius:5px;
-webkit-border-radius: 5px;
-moz-border-right-colors:#777777 #888888 #999999 #AAAAAA #BBBBBB #CCCCCC;
-moz-border-top-colors:#777777 #888888 #999999 #AAAAAA #BBBBBB #CCCCCC;
background:transparent url(/static/html/img/background_250.png) repeat scroll center top;
border:10px solid #DDDDDD;
color:#EAF2F8;
}


/* loading */

div.loading{
margin: 210px 0 0 280px;
position:absolute;
}

div.loading img{
margin:-5px 40px;
}

span.loading{
font-size: 2em;
}

div.hide{
display:none;
}



/* errors */

div.error_logo{
margin:120px 230px 30px;
}

div.error_text{
font-size:1.4em;
margin:0 0 0 233px;
}


/* forms */

input.button, button {
	background:#E0E0E0 url(/static/stylesheets/img/ui/gray_texture.png) repeat-x scroll 0 50%;
	border-color:#CCC #999 #999 #CCC;
	border-style: solid;
	border-width: 1px;
	font-size: 14px;
	margin: 9px 0 0;
	padding: 5px 8px;
	-moz-border-radius:12px;
	-webkit-border-radius: 12px;
}

button img{
float:left;
}

button.small_nav{
display:block;
height:22px;
width:25px;
margin-top: 3px;
}
/* if we want to do horizontal buttons, some of this may have to be redistributed */

button.small_nav img{
margin-top: -4px;
}


input.button:hover,button:hover{
cursor:pointer;
color: #222;
}
button.clicked{
color: #777;
cursor:default;
}

input.hover{
	background-color: #DDD;
}

input.down {
	border-color:#999 #CCC #CCC #999;
	border-style: solid;
	border-width: 1px;
	font-size: 13px;
	color: #777;
	margin: 9px 0 0;
	padding: 5px 8px;
}
input.button.disable {
	border-color: #CCC;
	color: #AAA;
}

.form_proceed, .form_cancel{
margin:20px -120px;
cursor:pointer;
}

button .continue_button{
float:right; 
font-weight:bold; 
margin:18px 4px;
}

button .thin{ margin:1px 4px; }

button.noclick{ cursor:default !important; }



.gray_square_box, .selection_box{
cursor:pointer;
}
.gray_square_box span{
	font: 12px Arial, Helvetica, sans-serif;
	font-variant:small-caps;
	padding:3px 11px;
	position:absolute;
	width:73px;
	background-color: #000;
	filter: alpha(opacity=85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
	color: #fff;
}

.sliderImage span{
	font: 11px Arial, Helvetica, sans-serif;
	font-variant:small-caps;
	padding:1px 8px 3px;
	position:absolute;
	width:105px;
	background-color: #000;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
	color: #fff;
	/* display: none; if this is re-instated, then the show() function 
	needs to be used when the slider isn't used  */ 
}


.sliderImage span.img_top{
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-bottomright:10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomleft:10px;
}

.sliderImage span.img_bottom{
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topright:10px;
-webkit-border-top-left-radius: 10px;
-moz-border-radius-topleft:10px;
}


.gray_square_box span.img_top{
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-bottomright:10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomleft:10px;
}

.gray_square_box span.img_bottom{
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topright:10px;
-webkit-border-top-left-radius: 10px;
-moz-border-radius-topleft:10px;
}



.clear {
	clear: both;
}
.sliderImage span strong, .gray_square_box span strong {
font-size:14px;
font-variant:normal;
letter-spacing:-0.03em;
margin:0 -4px;
}
.img_top {
	top: 0;
	left: 0;
}
.img_bottom {
	bottom: 0;
    left: 0;
}
.img_left {
	top: 0;
    left: 0;
	width: 110px !important;
	height: 280px;
}
.img_right {
	right: 0;
	bottom: 0;
	width: 90px !important;
	height: 290px;
}


.sliderImage {
    position:relative;
}


div#pq_quiz_overlay {
background-color: #333;
height: 100%;
left: 0;
opacity: .8 !important;
filter: alpha(opacity=80) !important;
-moz-opacity: 0.8 !important;
-khtml-opacity: 0.8 !important;
position:absolute;
top: 0;
width: 100%;
z-index: 90;
}




/* Include from other css files */

{% include "../../static/stylesheets/ui/dialog.css" %} 
