<div id='subject_{{ forloop.counter }}' class='widget_content selection_box subject_preview'>
      <ol class='sliderContent' id='subject_{{ forloop.counter }}Content'>
                                    <!-- default -->
                        <li style='display:none;' class='bigsliderImage subject_{{ forloop.counter }}Image'>
                            <img src='{{ http_host }}/image/subject/?img_id=default&size=large'/>
                            <span class='slider img_{% cycle top,bottom %} span_0'>
                            <span class ='subject_header'>{{ p.name }} </span>
                           
                            </span>
                        </li>
                        <!-- enddefault -->
                        
      {% for img in p.images %}
                        <li class='bigsliderImage subject_{{ forloop.parentloop.counter }}Image' style='display:none;'>
                            <img src='{{ http_host }}/image/subject/?img_id={{ img.key }}&size=large'/>
                            <span class='slider img_{% cycle top,bottom %} span_{{ forloop.counter }}'>
                            <span class ='subject_header'>{{ p.name }} </span>
                           
                            </span>
                        </li>
{% endfor %} 
                        <div class='clear subject_{{ forloop.counter }}Image'></div>
                    </ol>
</div>
<button class='widget_button'><span class='continue_button'>Take This Quiz</span> <img src='{{ http_host }}/static/stylesheets/img/utils/purple_next.png'/></button>

