
{% spaceless %} 


<div class='quiz_wrap' id='widget_wrapper' style='display:block;'>
{# Remember, kids. Always use protection. #}
{% for p in proficiencies %} 
<div class='widget_wrap'>
{% include 'widget_frame.html' %}
</div>

<div class='widget_load' style='display:none;'>
<ul><li><div id='widget_loading'><img width='32' height='22' src='{{ http_host }}/static/stylesheets/img/ajax-loader.gif'/><span class='loading'>Loading...</span><img width='32' height='22'  src='{{ http_host }}/static/stylesheets/img/ajax-loader.gif'/></div>
</div>

{% endfor %}
{# In case there is no javascript or JS error, link to the quiz #}

</div>



{% endspaceless %}
