html, body, fieldset, hr, img, form {
  margin: 0;
  padding: 0;
}

body, input, textarea {
  font-family: Tahoma, sans-serif;
  font-size: 11px;
  margin: 0;
}

img {
  border: 0;
  vertical-align: middle;
}

input,textarea {
  vertical-align: middle;
}

h2 {
  font-size: 14px;
  margin-top: 0;
}

ul li {
  margin-bottom: 8px;
}