<div class="ubiquity_quizbuilder">

<div class='header'>
	<img class='close' src='{{ http_host }}/static/stylesheets/img/quiz_closebox.png' alt='[X] Close'/>
	<img src="{{ http_host }}/static/stylesheets/img/utils/plopquiz_dbl_icon.png" class="icon" />
	<div>Quiz Builder</div>
</div>

<div class="instructions">
<div style="font-size: 1.2em;">Instructions</div><div style="height: 10px;"/>

<b>Edit the Quiz Item Text</b> by double-clicking it. 
<div style="height: 10px;"/>
<b>Choose the Correct Answer</b> by selecting it in the Quiz Item Text
<div style="height: 10px;"/>
<b>Choose Wrong Answers</b> by selecting from the <b>Answer Suggestions</b> or writing custom answers.

</div>

<div class="quiz_text_container cancel_drag" >
<div class="quiz_item_text">Quiz Item Text:</div>
<div class='statement'>{{ text }}</div>

<textarea class="answer_editor" style="display:none;"/>

<button class="submit_edit" style="display:none;">OK</button>

<div class="limit_info"/>

<div style="height:135px;"></div>

	
	</div>



	<div class='suggestions' style='display:none;'>
	<div style="font-size:1.3em;">Suggested Wrong Answers:</div>
	<div style="height:10px;"></div>
	
	<div class="items"></div>
		<div class='loading'>
			Loading...
			<img src='http://localhost:8080/static/stylesheets/img/utils/mini_loader.gif'>
		</div>
		
</div>


<div class='selected_answers'>
	<div id="title">Selected Answers</div>
	<div style="height:5px;"></div>
				
<div style="height:30px;">
<b>Correct Answer:</b> 
    <div class="correct_answer">
	</div>
</div>

<div class="selected_answer wrong_answer">
<b>Wrong Answer:</b><span></span>
<div class="edit" style="display:none;"><input type="text"><button>OK</button></div>
</div>

<div class="selected_answer wrong_answer">
<b>Wrong Answer:</b><span></span>
<div class="edit" style="display:none;"><input type="text"><button>OK</button></div>
</div>

			
 </div>

	<div class="submit_item">
		<div class="subject">Subject 
			<select >
				<option selected>Choose a Subject</option>
				<option id="new">-- Create New Subject --</option>
				{% for subject in subjects %}
				<option>{{ subject.name }}</option>
				{% endfor %}
				</select>
				<input  style="display:none;" type="text" />
				<button class="cancel_input" style="display:none;">Cancel</button>
				</div>
				
		<div style="margin:5px 0 8px;" class="topic">Topic 
			<select>
				<option selected>Choose a Topic</option>
				<option id="new">-- Create New Topic --</option>
				{% for subject in subjects %}
				<option>{{ subject.name }}</option>
				{% endfor %}
				</select>
				<input  style="display:none;" type="text" />
				<button class="cancel_input" style="display:none;">Cancel</button>
						</div> 
		<button id="submit_item"><img height="26" width="25" src='http://localhost:8080/static/stylesheets/img/utils/purple_next_small.png' /><div>Submit This Item</div></button>
<div class="submit_error" style="display:none;"></div>
		</div>	
	
	</div>
	
</div>
