{% extends "../base.html" %}
{% block title %}Edit / {{ subject.name }}{% endblock %}
{% block description %}  {% endblock %}

{% block head %}


<style type="text/css"> 
{% include "../../static/stylesheets/editor/quiz_item_editor.css" %} 
</style> 

<script type="text/javascript">

{% include "../../static/scripts/scroll/jquery.scrollTo-min.js" %} 
{% include "../../static/scripts/scroll/jquery.localscroll-1.2.5.js" %} 
{% include "../../static/scripts/scroll/jquery.serialScroll-1.2.1.js" %} 
{% include "../../static/scripts/editor/item-slider.js" %} 
{% include "../../static/scripts/editor/jeditable/jquery.jeditable.min.js" %}
{% include "../../static/scripts/jquery/jquery.autogrow.js" %}
{% include "../../static/scripts/editor/jeditable/jquery.jeditable.autogrow.js" %}
</script>
<script type="text/javascript">


{% include "../../static/scripts/editor/load_answers.js" %}
{% include "../../static/scripts/editor/quiz_item_editor.js" %}
 
</script>



{% endblock %}


{% block main %}



<div id="editor_container">


{% include "quiz_item_editor_template.html" %}


</div>


{% endblock %}




