
{# Template for each item #}


<div class="quiz_item_content" ><div class="item_inner"> 
<div class="content" >{{ item.content }}</div>
</div></div> 


<div class="answers_container" id='{{ item.uid|default:"new" }}'>

{% include "answer_template.html" %}

</div>

  
{% comment %}



Sidebar



{% endcomment %}
<div class="item_sidebar">
<div class="sidebar_header note">Quiz Item Settings</div>
<div class="item_subject" >
	<span class="header">Subject</span>
	<div class="subject_name">{{ subject.name }}</div>
	</div>
	
<div class="item_topic" id="{{ subject.name }}">
	
	{% include "item_topic.html" %}
	
</div>


<div class="details">
Author
<div class="author_name">{{ item.author.fullname|default:"No Author" }}
{% ifequal user_session.unique_identifier item.author.unique_identifier %}(You) {% endifequal %} 
</div>
Status
<select {% if not subject_membership.is_admin %} disabled="true" {% endif %}>
<option value="not_approved">Not Yet Approved</option>
<option {% if item.active %} selected {% endif %} value="approved">Approved</option>
</select>
</div>



<div class="answer_choice_previews">

<div class="answer_preview correct" >
<div class="correct">Correct Answer</div><span class="selection correct">{{ item.index }}</span>
<span class="edit">edit</span><div class="edit_answer" style="display:none;"><input class="new_answer" type="text"><button>OK</button></div>
</div>

{# item.page.url is webpage #}


{% if item.answers %}
{% for answer in item.answers  %} {# Load Every Item For Answer That Is Not The Correct Answer #}

{% ifnotequal answer.lower item.index.lower  %}
<div class="answer_preview wrong"> 
<div class="wrong">Wrong Answer #{{ forloop.counter }}</div>
<span class="wrong selection" id="{{ forloop.counter }}">{{ answer }} </span>
<span class="edit">edit</span><div class="edit_answer" style="display:none;"><input class="new_answer" type="text"><button>OK</button></div>
</div>
{% endifnotequal %}

{% endfor %}
{% else %} {# New Item #}

{% for n in ANSWERCOUNT %}
<div class="answer_preview wrong"> 
<div class="wrong">Wrong Answer #{{ n }}</div><span class="wrong selection" id="{{ n }}"></span>
<span class="edit">edit</span><div class="edit_answer" style="display:none;"><input class="new_answer" type="text"><button>OK</button></div>
</div>
{% endfor %}


{% endif %}


</div> {# endpreviews #}


<button  name="submit_item" class="submit_item" value="submit item" id="{{ item.key }}"> submit item</button> 



</div>



