{#### NAVIGATION ####}

<div class="nav_wrap"><ul class="item_navigation">

<li class="new"><a href="#new" ><button>Make New Item</button></a></li>


{# The nav for/ifs should be replicated for the actual quiz items #}


{# AUTHORED ITEMS #}
<div id="my_items" class="nav_header">My Items</div>
<div class="list my_items"> 
{% for item in user_items %}
<li><a  href='#{{ item.uid|default:"new" }}'>{{ forloop.counter }}</a></li>
{% endfor %}
</div>


{% if subject_membership.is_admin %} {# Should these include items that are authored by the user? Probably not, right? #}

{# PENDING ITEMS #}
<div id="unapproved_items" class="nav_header">Pending Items</div>
<div class="list unapproved_items"> 
{% for item in subject.pending_items %}
<li><a  href='#{{ item.uid|default:"new" }}'>{{ forloop.counter }}</a></li>
{% endfor %}
</div>


{# APPROVED ITEMS #}
<div id="approved_items" class="nav_header">Approved Items</div>
<div class="list approved_items"> 
{% for item in subject.quizitems %}
<li><a  href='#{{ item.uid|default:"new" }}'>{{ forloop.counter }}</a></li>
{% endfor %}


</div>


{% endif %}



</ul></div>  {# navigation headers- #}


<div class="scroller"><div class="quiz_items" id="quiz_items" >


{# New Item --- This should be identical to forloop tag #}	
<div class="quiz_item"  id='{{ item.uid|default:"new" }}' >
{% include "quiz_item_template.html" %} 
</div>



{#### ITEM TEMPLATES ####}


{# AUTHORED ITEMS #}

{% for item in user_items %}
<div class="quiz_item"  id='{{ item.uid|default:"new" }}' >
{% include "quiz_item_template.html" %} 
</div>
{% endfor %}


{% if subject_membership.is_admin %} {# Should these include items that are authored by the user? Probably not, right? #}

{# PENDING ITEMS #}

{% for item in subject.pending_items %}
<div class="quiz_item"  id='{{ item.uid|default:"new" }}' >
{% include "quiz_item_template.html" %} 
</div>
{% endfor %}



{# APPROVED ITEMS #}

{% for item in subject.quizitems %}
<div class="quiz_item"  id='{{ item.uid|default:"new" }}' >
{% include "quiz_item_template.html" %} 
</div>
{% endfor %}


{% endif %}



</div></div>
