<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>PlopQuiz / {% block title %}Show What You Know{% endblock %}</title> 
{# meta tags #}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% block thumbnail %}<link rel="image_src" href="{{ http_host }}/static/stylesheets/img/utils/plopquiz_icon.png" type="image/png" data-width="157" data-height="157" />{% endblock %}
<meta id="description" name="Description" content="{% block description %} PlopQuiz - Show What You Know About Subjects of Public Interest{% endblock %}" /><meta id="keywords" name="Keywords" content="Certification Energy Cleantech Greentech Reinvestment Recovery.Gov Recovery Plan Resume Education OER" />


<script type="text/javascript"> {% include "../base.js" %}</script>
<style type="text/css"> 
{% include "../css/base.css" %}
</style> 


<link rel="icon" href="/static/stylesheets/img/favicon.ico" type="image/x-icon"> 

{% block base_head %} {# header elements for other pages #} {% endblock %}


{% block head %}{% endblock %}
</head>

<body id="PlopQuiz" class="PlopQuiz">
<div id="viewport">
<div class="mid layer">
<div id="clouds-far"></div>
</div>
<div class="far layer">
<div id="land"></div>
</div>
<div class="near layer">
<div id="clouds-near"></div>
</div>
</div>
<div id="cutoff">
<div id="flyer"><a style="display:none;"><span></span></a></div>
</div>
<div class="sitelet" id="sitelet-home">
<div class="top">
<div class="left corner"></div>
<div class="right corner"></div>
<div class="liquid"></div>
</div>
<div class="middle">
<div class="wrap1"><div class="wrap2">



<div class="main_wrapper">

{% include "../utils/nav_bar.html" %}

<div id="right_corner"><img src="/static/stylesheets/img/base/pq_logo_thumb.png"/ > </div>

<div class="loading" style="display:none;"><img width='32' height='22' src="/static/stylesheets/img/ajax-loader.gif"/><span class="loading">Loading...</span><img width='32' height='22' src="/static/stylesheets/img/ajax-loader.gif"/></div>

<div class="main">		




{% block main %}				
{% endblock %}

</div>

<div id="quick_links" class="quick_links">
</div>

</div>

</div>


</div>
<div class="clear">
</div>
</div>
<div class="bottom">
<div class="left corner"></div>
<div class="right corner"></div>
<div class="liquid"></div>
</div>
</div>
<div id="pq_quiz_overlay" style="display:none;"></div>


{# Place analytics or other JS here #}





</body>
</html>
