{% extends "../base.html" %}
{% block head %}

<link rel="stylesheet" type="text/css" media="screen" href="/static/stylesheets/store/proficiency.css"/>
<script type="text/javascript" src="/static/scripts/jquery/jquery.animatedcollapse.js"></script>

<!-- scroll -->
<script src="/static/scripts/scroll/jquery.scrollTo-min.js" type="text/javascript"></script>
<script src="/static/scripts/scroll/jquery.localscroll-1.2.5.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/scripts/scroll/jquery.serialScroll-1.2.1.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/scripts/homepage/proficiency-slider.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/scripts/homepage/proficiency.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
$(document).ready(function()
{

RenderProficiencyPanels({{ prof_json }}, {{ buy_buttons }});

 });
 
</script>


{% endblock %}


{% block main %}


<div class="logo"><img src="/static/stylesheets/img/proficiencies/energy_proficiency.png" /><h1 class="proficiency">Select a Proficiency</h1></div>

<div class="proficiency_container"><div class="proficiencies_scroll"><div class="proficiencies">

{% for p in proficiencies %}

<div class="proficiency" id="{{ p.tag|lower }}">
<img src="/static/stylesheets/img/proficiencies/{{ p.tag|lower }}.png" />
</div>

{% endfor %}


</div></div></div>



<div id="descriptions">


{% for p in proficiencies %}
<div id="d_{{ p.tag|lower }}" class="description frame_box">
<div class="proficiency_pic selection_box" style="margin:0 45px;" ><img src="/image/subject/?img_id={{ p.images.0.key }}&size=small"/></div>  
  <div class="proficiency_title" >{{ p.name }}</div>
<div class="description_text">
{{ p.blurb }}</div>

   <div class="pfstat" id="popularity">      <h3>Popularity: </h3>  <div class="pfstatometer" ><img src="http://chart.apis.google.com/chart?chs=70x35&cht=gom&chd=t:86&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div>  </div>
   <div class="pfstat" id="difficulty">      <h3>Difficulty: </h3>  <div class="pfstatometer" ><img src="http://chart.apis.google.com/chart?chs=70x35&cht=gom&chd=t:46&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div>  </div>
                 
</div>

{% endfor %}
<!--
<div id="d_energy_economics" class="description frame_box">
<div class="proficiency_pic selection_box" style="margin:0 45px;" ><img src="/static/stylesheets/img/proficiencies/energy_economics_pic.png"/></div>  
  <div class="proficiency_title" >Energy Economics</div>
<div class="description_text">
Between the $100 billion dollars invested in Clean Tech and new energy-conscious tax codes, there is a pressing need for those familiar with the new economic landscape.  
</div>

   <div class="pfstat" id="popularity">      <h3>Popularity: </h3>  <div class="pfstatometer" ><img src="http://chart.apis.google.com/chart?chs=70x35&cht=gom&chd=t:86&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div>  </div>
   <div class="pfstat" id="difficulty">      <h3>Difficulty: </h3>  <div class="pfstatometer" ><img src="http://chart.apis.google.com/chart?chs=70x35&cht=gom&chd=t:46&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div>  </div>
                 
</div>



<div id="d_biofuels" class="description frame_box">
<div class="proficiency_pic selection_box" style="margin:0 20px;"><img src="/static/stylesheets/img/proficiencies/biofuels_pic.png"/></div>   
 <div class="proficiency_title" style="margin:5px 40px;" >Biofuels</div>
<div class="description_text">
Exciting advances in the conversion of biomass into fuel have made this environmentally-friendly production method into a Clean Tech poster child. 
</div>
   <div class="pfstat" id="popularity">      <h3>Popularity: </h3>  <div class="pfstatometer" ><img src="http://chart.apis.google.com/chart?chs=70x35&cht=gom&chd=t:86&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div>  </div>
   <div class="pfstat" id="difficulty">      <h3>Difficulty: </h3>  <div class="pfstatometer" ><img src="http://chart.apis.google.com/chart?chs=70x35&cht=gom&chd=t:46&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div>  </div>
            
</div>




<div id="d_solar_energy" class="description frame_box">
<div class="proficiency_pic selection_box" style="margin:0 30px;"><img src="/static/stylesheets/img/proficiencies/solar_energy_pic.png"/></div> 
   <div class="proficiency_title" style="margin:5px 22px;" >Solar Energy</div>

<div class="description_text">
The oldest and most pervasive form of renewable energy draws from the same ambient source that sustains life on Earth.
</div>
   <div class="pfstat" id="popularity">      <h3>Popularity: </h3>  <div class="pfstatometer" ><img src="http://chart.apis.google.com/chart?chs=70x35&cht=gom&chd=t:86&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div>  </div>
   <div class="pfstat" id="difficulty">      <h3>Difficulty: </h3>  <div class="pfstatometer" ><img src="http://chart.apis.google.com/chart?chs=70x35&cht=gom&chd=t:46&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div>  </div>
            
</div>




<div id="d_energy_efficiency" class="description frame_box">
<div class="proficiency_pic selection_box" style="margin:0 40px;"><img src="/static/stylesheets/img/proficiencies/energy_efficiency_pic.png"/></div> 
   <div class="proficiency_title" >Energy Efficiency</div>
<div class="description_text">
The cheapest and most available source of new energy is the energy we waste. To save money and lower greenhouse gas levels, organizations are increasingly seeking ways to reduce their energy consumption.
</div>
   <div class="pfstat" id="popularity">      <h3>Popularity: </h3>  <div class="pfstatometer" ><img src="http://chart.apis.google.com/chart?chs=70x35&cht=gom&chd=t:76&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div>  </div>
   <div class="pfstat" id="difficulty">      <h3>Difficulty: </h3>  <div class="pfstatometer" ><img src="http://chart.apis.google.com/chart?chs=70x35&cht=gom&chd=t:26&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div>  </div>
            
</div>



<div id="d_oil" class="description frame_box">
<div class="proficiency_pic selection_box" style="margin:0 22px;"><img src="/static/stylesheets/img/proficiencies/oil_pic.png"/></div> 
   <div class="proficiency_title" style="margin:5px 70px;" >Oil</div>
<div class="description_text">
Petroleum makes up 40% of energy consumption, and has a worldwide impact on politics, economics, and the environment.
</div>
   <div class="pfstat" id="popularity">      <h3>Popularity: </h3>  <div class="pfstatometer" ><img src="http://chart.apis.google.com/chart?chs=70x35&cht=gom&chd=t:26&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div>  </div>
   <div class="pfstat" id="difficulty">      <h3>Difficulty: </h3>  <div class="pfstatometer" ><img src="http://chart.apis.google.com/chart?chs=70x35&cht=gom&chd=t:76&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div>  </div>
            
</div>




<div id="d_electricity" class="description frame_box">
<div class="proficiency_pic selection_box" style="margin:0 30px;"><img src="/static/stylesheets/img/proficiencies/electricity_pic.png"/></div>  
  <div class="proficiency_title" style="margin:5px 36px;">Electricity</div>
<div class="description_text">
Intelligent, distributed, and highly adaptive electrical systems aim to reduce power consumption and prevent peak hour failures. 
</div>
   <div class="pfstat" id="popularity">      <h3>Popularity: </h3>  <div class="pfstatometer" ><img src="http://chart.apis.google.com/chart?chs=70x35&cht=gom&chd=t:66&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div>  </div>
   <div class="pfstat" id="difficulty">      <h3>Difficulty: </h3>  <div class="pfstatometer" ><img src="http://chart.apis.google.com/chart?chs=70x35&cht=gom&chd=t:90&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div>  </div>
            
</div>



<div id="d_law_and_policy" class="description frame_box">
<div class="proficiency_pic selection_box" style="margin:0 30px;"><img src="/static/stylesheets/img/proficiencies/law_and_policy_pic.png"/></div>  
  <div class="proficiency_title" style="margin:5px 10px;">Law and Policy</div>
<div class="description_text">
New regulations and tax policies are changing the entire business cycle, from manufacturing to accounting. 
</div>
   <div class="pfstat" id="popularity">      <h3>Popularity: </h3>  <div class="pfstatometer" ><img src="http://chart.apis.google.com/chart?chs=70x35&cht=gom&chd=t:56&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div>  </div>
   <div class="pfstat" id="difficulty">      <h3>Difficulty: </h3>  <div class="pfstatometer" ><img src="http://chart.apis.google.com/chart?chs=70x35&cht=gom&chd=t:83&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div>  </div>
            
</div>


<div id="d_wind_power" class="description frame_box">
<div class="proficiency_pic selection_box" style="margin:0 30px;"><img src="/static/stylesheets/img/proficiencies/wind_power_pic.png"/></div>  
  <div class="proficiency_title" style="margin:5px 23px;">Wind Power</div>
<div class="description_text">
Wind energy is plentiful, renewable, and safe for the environment. Projects around the world are continually adding to the capacity and efficiency of wind farms.
</div>
   <div class="pfstat" id="popularity">      <h3>Popularity: </h3>  <div class="pfstatometer" ><img src="http://chart.apis.google.com/chart?chs=70x35&cht=gom&chd=t:19&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div>  </div>
   <div class="pfstat" id="difficulty">      <h3>Difficulty: </h3>  <div class="pfstatometer" ><img src="http://chart.apis.google.com/chart?chs=70x35&cht=gom&chd=t:76&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div>  </div>
            
</div>


<div id="d_nuclear_energy" class="description frame_box">
<div class="proficiency_pic selection_box" style="margin:0 30px;"><img src="/static/stylesheets/img/proficiencies/nuclear_energy_pic.png"/></div>  
  <div class="proficiency_title" style="margin:5px 7px;">Nuclear Energy</div>
<div class="description_text">
Supporters argue that nuclear power has earned a strong track record for safety and sustainability. It is also a practical option for accomodating peak-hour loads.
</div>
   <div class="pfstat" id="popularity">      <h3>Popularity: </h3>  <div class="pfstatometer" ><img src="http://chart.apis.google.com/chart?chs=70x35&cht=gom&chd=t:26&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div>  </div>
   <div class="pfstat" id="difficulty">      <h3>Difficulty: </h3>  <div class="pfstatometer" ><img src="http://chart.apis.google.com/chart?chs=70x35&cht=gom&chd=t:86&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div>  </div>
            
</div>


<div id="d_tidal_power" class="description frame_box">
<div class="proficiency_pic selection_box" style="margin:0 30px;"><img src="/static/stylesheets/img/proficiencies/tidal_power_pic.png"/></div>  
  <div class="proficiency_title" style="margin:5px 26px;">Tidal Power</div>
<div class="description_text">
The reliability of tidal forces makes ocean-based energy an intriguing method for generating electrical power. 
</div>
   <div class="pfstat" id="popularity">      <h3>Popularity: </h3>  <div class="pfstatometer" ><img src="http://chart.apis.google.com/chart?chs=70x35&cht=gom&chd=t:56&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div>  </div>
   <div class="pfstat" id="difficulty">      <h3>Difficulty: </h3>  <div class="pfstatometer" ><img src="http://chart.apis.google.com/chart?chs=70x35&cht=gom&chd=t:76&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div>  </div>
            
</div>

-->

</div> 




{% endblock %}
