
{# if we wanted to get feed items via ajax, we could just use this template to load the HTML for each item #}

<div class="info_note action_item">

    <div class="gray_square_box is_recipient">
    <img src="/image/profile/?img_id={{ action.recipient.photo.key }}&size=large"/>
    <span class="img_bottom">{{ action.recipient.nickname }}</span></div>
    

<span class="action_type sponsored_by">Earned A Sponsorship From</span>
<span class="action_date info_note">{{ action.date|date:"F jS" }}</span>

    <div class="gray_square_box is_sponsor">
    <img src="/image/profile/?img_id={{ action.sponsor.photo.key }}&size=large"/>
    <span class="img_bottom">{{ action.sponsor.nickname }}</span></div>



</div>
