	

<div class="dialog_container">
<div class="ui-dialog-content" id="about_dialog_content" style="display:none;" title="About PlopQuiz">
<div class="about_introduction">

<button class="noclick" style="top:90px; left: 20px;">Why</button>
<span class="content"> 
<p>When it's always time to get things done, it can be difficult to learn on someone else's schedule.
<span style="display:block; height:8px;"></span>   We'd like to offer everyone a way to demonstrate their knowledge about emerging subjects of public interest, without the need to wait for permission.</p> 
</span>

<button class="noclick" style="top: 199px; left: 20px;">What</button>
<span class="content" style="margin-top: -10px;"> 
<p>Each quiz you take is a new chance to add <a>awards</a> to your academic profile and compete for <a>sponsorships</a> from our community organizations.</p>
</span>

<button class="noclick" style="top: 270px; left: 20px;">How</button>
<span class="content" id="how"> 
<p style="padding-top:0px;">We make our quizzes from recycled husks and grasses. Why...what are your quizzes made of ?{#<span style="font-size: .8em;">( Why? What are your quizzes made of? )</span> #} </p>
</span>


</div>

<div class="about_profiles" style="display:none;">

<button id="academic_profiles">Academic Profiles </button><button id="awards">Awards</button><button id="sponsorships">Sponsorships</button>

<span class="section" style="display:block;" id="academic_profiles">
<span class="content info_note" id="tagline">
If your resume is like a first date, <span style=" height: 3px; display:block;"></span>
your PlopQuiz profile is the bouquet of roses.  
</span> 

<span id="right_box">

 Each student profile contains:
 <span style="margin: 0px;" class="content"></span>
 <span class="content list" style="width: 260px; "><li>A <a>portfolio</a> showing earned awards and sponsorships</li></span>
 <span class="content list" style="width: 270px;"><li>A <a>report card</a> describing a student's performance, organized by subject and topic.</li></span>

</span><!-- right box -->

</span><!-- academic profiles -->


<span class="section" style="display:none;" id="awards">
<span class="content info_note" id="tagline">
{# award image #}
  <span style="display:block;" class="selection_box is_subject sliderImage">
<img src="{{ http_host}}/image/subject/?img_id=default&size=small"/>
<span class="img_bottom">award badge</span>
</span>
</span>


<span id="right_box">


 <span style="margin: 0px;" class="content"></span>
 <span class="content list" style="width: 260px; "><li>Awards are given to the top achievers for a quiz subject.</li></span>
 <span class="content list" style="width: 270px;"><li>Some awards recognize an exceptional depth of domain knowledge, and others a broad range of fluencies. </li></span>

</span><!-- right box -->

</span><!-- academic profiles -->

<span class="section" style="display:none;" id="sponsorships">

<span class="content info_note" id="tagline">
{# sponsor image #}
    <span style="display:block;"  class="gray_square_box is_sponsor">
    <img src="/image/subject/?img_id=default&size=large"/>
    <span class="img_bottom">sponsor badge</span>
</span>

</span>


<span id="right_box">


 <span style="margin: 0px;" class="content"></span>
 <span class="content list" style="width: 260px; "><li>Exceptional quiz performance can earn you a sponsorship.</li></span>
 <span class="content list" style="width: 270px;"><li>When you are achieve a sponsorship, you'll receive a personal message from your new sponsor organization. </li></span>

</span><!-- right box -->

</span><!-- academic profiles -->


</div>

<div class="about_sponsors" style="display:none;">

<button class="noclick" style="top:73px; left: 2px;">Why Sponsor?</button>
<span class="content sponsors"> 
<p style="margin-top:7px;">Sponsorships demonstrate social responsibility and connect you with motivated learners.</p>
</span>

<button class="noclick" style="top: 168px; left: 2px;">Your Own Message</button>
<span class="content sponsors"  style="height: 110px; margin-top:50px;"> 
<span class="selection_box" style="display:block; position:absolute; margin: 13px 0px 0px 17px;">
<img src="/static/stylesheets/img/random/sponsor_msg.png" />
</span>
<p id="message">Customize an e-mail message to be sent when your sponsorship is earned.</p>
</span>



<button class="noclick" style="margin-top:194px; left: 2px;">Risk-Free</button>
<span class="content sponsors" id="apply"> 
<span id="apply_text">
Sponsorship is free. You can cancel any time.<span style="display:block; height: 5px;"></span>Your organization can <a href="/sponsors/">Apply Here</a>.
</span>
</span>


</div>

<div class="about_how_we_grade" style="display:none;">

We'd like to work toward a grading policy that is fair to students and produces reliable scores.

<span class="content" style="height:10px;"></span>
We'll soon use this space to share information about how we grade our students and ask for feedback.
<span class="content" style="height:10px;"></span>
We look forward to the conversation!


</div>

</div>

