	

<div class="dialog_container">
<div class="ui-dialog-content" id="contact_dialog_content" style="display:none;" title="Contact PlopQuiz">


<div class="contact_support">

<div class="dialog_blurb" id="contact_blurb" style="display:block;  ">It doesn't have to be this way.</div>
<img width="200" src="{{ http_host }}/static/stylesheets/img/random/polar_bear.png" style="margin: 0 0 65px;"/>

<span id="support_types">support@plopquiz.com<span id="phone">(650) 353-2694</span></span>
</div>


<div class="contact_feedback" style="display:none;">
<span class="email">feedback@plopquiz.com</span>
</div>


<div class="contact_media" style="display:none;">
<span class="email">media@plopquiz.com</span>
</div>

<div class="contact_sales" style="display:none;">
<span class="email">sales@plopquiz.com</span>
</div>

</div>

</div>


