


{% extends "item_base.html" %}

{% block title %} O'Reilly - Programming Collective Intelligence {% endblock title %}

{% block quiz_frame_logo %}<div class="quiz_frame_logo" id="oreilly">
<img src="/static/html/img/oreilly-logo.gif"/>
</div>
{% endblock %}

{% block quiz_frame_source %} 
Toby Segaran
<br/>
Programming Collective Intelligence

{% endblock quiz_frame_source %}

{% block quiz_frame_title %}Scraping{% endblock quiz_frame_title %}

{% block quiz_frame_text %} 
 
<div class='focus'>  
<span id="blank"> 
</span>is a library for parsing a web page and building a structured representation.
</div> It allows you to access any element of the page by type, ID, or any of its properties, and get a string representation of its contents.
{% endblock quiz_frame_text %}








