


{% extends "item_base.html" %}

{% block title %}Django - Auth {% endblock title %}

{% block quiz_frame_logo %}<div class="knol_frame_logo" id="django">
<img src="/static/html/img/django-logo.gif"/>
</div>
{% endblock %}

{% block quiz_frame_source %} 
Official Django Documentation <br/> Version 1.0

{% endblock quiz_frame_source %}

{% block quiz_frame_title %}Authentication{% endblock quiz_frame_title %}

{% block quiz_frame_text %} 
 If a user isn't currently logged in, request.user will be set to an instance of AnonymousUser.
<div class='focus'>   You can tell them apart with 
<span id="blank"> 
</span>
</div>

{% endblock quiz_frame_text %}








