


{% extends "item_base.html" %}

{% block title %}Django - Queryset {% endblock title %}

{% block quiz_frame_logo %}<div class="knol_frame_logo" id="django">
<img src="/static/html/img/django-logo.gif"/>
</div>
{% endblock %}

{% block quiz_frame_source %} 
Official Django Documentation <br/> Version 1.0

{% endblock quiz_frame_source %}

{% block quiz_frame_title %}Models{% endblock quiz_frame_title %}

{% block quiz_frame_text %} 
 
<div class="focus">  Use Python's 
<span id="blank"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>syntax to limit your QuerySet
</div>to a certain number of results. This is the equivalent of SQL's LIMIT and OFFSET clauses. 

{% endblock quiz_frame_text %}








