


{% extends "item_base.html" %}

{% block title %} Thomas Friedman - Hot Flat &amp; Crowded {% endblock title %}

{% block quiz_frame_logo %}<div class="quiz_frame_logo" id="hfc">
<img src="/static/html/img/hfc-logo.png"/>
</div>
{% endblock %}

{% block quiz_frame_source %} 
Thomas Friedman 
<br/>
Hot Flat &amp; Crowded

{% endblock quiz_frame_source %}

{% block quiz_frame_title %}Treaties{% endblock quiz_frame_title %}

{% block quiz_frame_text %} 
 I am not against global climate treaties, <div class='focus'>  like the <span id="blank"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div> but I think their chances of having the impact that their advocates predict are slim. 
{% endblock quiz_frame_text %}








