


{% extends "item_base.html" %}

{% block title %} Thomas Friedman - Hot Flat &amp; Crowded {% endblock title %}

{% block quiz_frame_logo %}<div class="quiz_frame_logo" id="hfc">
<img src="/static/html/img/hfc-logo.png"/>
</div>
{% endblock %}

{% block quiz_frame_source %} 
Thomas Friedman 
<br/>
Hot Flat &amp; Crowded

{% endblock quiz_frame_source %}

{% block quiz_frame_title %}Regulation{% endblock quiz_frame_title %}

{% block quiz_frame_text %} 
Probably the most oft-cited theory about the relationship between enviromental regulation and innovation 
<div class='focus'>  is the
'<span id="blank"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span> hypothesis', first expounded 
</div> by the Harvard Business School professor Michael Porter in 1991. 
{% endblock quiz_frame_text %}








