


{% extends "item_base.html" %}

{% block title %} Thomas Friedman - Hot Flat &amp; Crowded {% endblock title %}

{% block quiz_frame_logo %}<div class="quiz_frame_logo" id="hfc">
<img src="/static/html/img/hfc-logo.png"/>
</div>
{% endblock %}

{% block quiz_frame_source %} 
Thomas Friedman 
<br/>
Hot Flat &amp; Crowded

{% endblock quiz_frame_source %}

{% block quiz_frame_title %}Standards{% endblock quiz_frame_title %}

{% block quiz_frame_text %} 
In 2004, the U.S. Court of Appeals for the Second Circuit directed the U.S. Department of Energy
<div class="focus"> to reinstate the
<span id="blank"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span> standard
</div> for central air conditioners.
{% endblock quiz_frame_text %}








