{% extends "item_base.html" %}

{% block title %}Quiz Item - Python Knol {% endblock title %}

{% block quiz_frame_logo %}<div class="quiz_frame_logo" id="knol"><img src="/static/html/img/knol-logo.png"/></div>{% endblock %}

{% block quiz_frame_source %} 

A basic overview and information about the Python language. <br/> By Jon Parise </div>

{% endblock quiz_frame_source %}

{% block quiz_frame_title %}Constructors {% endblock quiz_frame_title %}

{% block quiz_frame_text %} 


Classes begin with one or more constructors.    In Python these must be declared with the name __init(self)__  they may also take parameters. 
<div class="focus">  These are the functions that build new objects of a
<br/><span id="blank"></span>type.</div>

{% endblock quiz_frame_text %}
