{% extends "item_base.html" %}

{% block title %}Quiz Item - Ajax Callbacks {% endblock title %}

{% block quiz_frame_logo %}<div class="quiz_frame_logo" id="knol"><img src="/static/html/img/knol-logo.png"/></div>{% endblock %}

{% block quiz_frame_source %} 

Gimme Some Closure! -- Object-oriented JavaScript &amp; Ajax Callbacks <br/> By Glen Ford </div>

{% endblock quiz_frame_source %}

{% block quiz_frame_title %}Closures{% endblock quiz_frame_title %}

{% block quiz_frame_text %} 


<div class="focus">  
The request is made through a hidden IFRAME or XHR object, called the<br/> <span id="blank">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>. 


</div>

Since it's asynchronous, you don't know when the request is going to complete, so you create a "callback"...

{% endblock quiz_frame_text %}
