


{% extends "item_base.html" %}

{% block title %}Quiz Item - MIT OpenCourseWare{% endblock title %}

{% block quiz_frame_logo %}<div class="quiz_frame_logo" id="ocw">
<img src="/static/html/img/ocw-logo.gif"/>
</div>
{% endblock %}

{% block quiz_frame_source %} 
MIT Department of Mathematics <br/> Statistical Theory

{% endblock quiz_frame_source %}

{% block quiz_frame_title %}Statistics{% endblock quiz_frame_title %}

{% block quiz_frame_text %} 
Cronbach's alpha will generally increase  
<div class="focus">  when the  
<span id="blank"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span> between
</div>the items increase.

{% endblock quiz_frame_text %}








