


{% extends "item_base.html" %}

{% block title %}Quiz Item - MIT OpenCourseWare{% endblock title %}

{% block quiz_frame_logo %}<div class="quiz_frame_logo" id="ocw">
<img src="/static/html/img/ocw-logo.gif"/>
</div>
{% endblock %}

{% block quiz_frame_source %} 
MIT Department of Biology <br/> Introductory Biology

{% endblock quiz_frame_source %}

{% block quiz_frame_title %}Carbon Fuel {% endblock quiz_frame_title %}

{% block quiz_frame_text %} 


<i> What two things are required by every organism for growth? </i>A source of organic carbon and a source of electrons. Energy is also required. Synthesizers get their energy input from the sun or thermal energy.

<br/>
<div class="focus"> <span id="blank">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span> get energy from organic carbon.</div>

{% endblock quiz_frame_text %}



