


{% extends "item_base.html" %}

{% block title %} Open CourseWare - HTML Scraping  {% endblock title %}

{% block quiz_frame_logo %}<div class="quiz_frame_logo" id="ocw">
<img src="/static/html/img/ocw-logo.gif"/>
</div>
{% endblock %}

{% block quiz_frame_source %} 
Official Django Documentation <br/> Version 1.0

{% endblock quiz_frame_source %}

{% block quiz_frame_title %}HTML Scraping{% endblock quiz_frame_title %}

{% block quiz_frame_text %} 
 
<div class="focus">  
<span id="blank"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>is a python library for parsing a web page and building a structured representation.
</div> It allows you to access any element of the page by type, ID, or any of its properties, and get a string representation of its contents.
{% endblock quiz_frame_text %}








