


{% extends "item_base.html" %}

{% block title %}Quiz Item - PG Patents{% endblock title %}

{% block quiz_frame_logo %}<div class="quiz_frame_logo" id="pg">
<img src="/static/html/img/pg-logo.png"/>
</div>
{% endblock %}

{% block quiz_frame_source %} 


Paul Graham <br/> Essays

{% endblock quiz_frame_source %}

{% block quiz_frame_title %}Software Patents {% endblock quiz_frame_title %}

{% block quiz_frame_text %} 

<div class="focus"> 
The problem with Amazon's notorious
<span id="blank">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span> patent</div>
for example, is not that it's a software patent, but that it's obvious.
{% endblock quiz_frame_text %}



