


{% extends "item_base.html" %}

{% block title %}Quiz Item - PG Fundraising{% endblock title %}

{% block quiz_frame_logo %}<div class="quiz_frame_logo" id="pg">
<img src="/static/html/img/pg-logo.png"/>
</div>
{% endblock %}

{% block quiz_frame_source %} 


Paul Graham <br/> Essays

{% endblock quiz_frame_source %}

{% block quiz_frame_title %}Fundraising {% endblock quiz_frame_title %}

{% block quiz_frame_text %} 


The upshot is, you can choose your pain: either the short, sharp pain of raising money, 
<br/>
<div class="focus"> 
or the chronic ache of 
<span id="blank">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>.</div>

{% endblock quiz_frame_text %}



