


{% extends "item_base.html" %}

{% block title %}Quiz Item - PG Investment{% endblock title %}

{% block quiz_frame_logo %}<div class="quiz_frame_logo" id="pg">
<img src="/static/html/img/pg-logo.png"/>
</div>
{% endblock %}

{% block quiz_frame_source %} 


Paul Graham <br/> Essays

{% endblock quiz_frame_source %}

{% block quiz_frame_title %}Law {% endblock quiz_frame_title %}

{% block quiz_frame_text %} 


<div class='focus'> 
Investing is not covered by 
<span id="blank">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span> law.</div>
At least, it better not be, because investors regularly do things that would be illegal otherwise.

{% endblock quiz_frame_text %}



