


{% extends "item_base.html" %}

{% block title %}Quiz Item - PG VCs{% endblock title %}

{% block quiz_frame_logo %}<div class="quiz_frame_logo" id="pg">
<img src="/static/html/img/pg-logo.png"/>
</div>
{% endblock %}

{% block quiz_frame_source %} 


Paul Graham <br/> Essays

{% endblock quiz_frame_source %}

{% block quiz_frame_title %}Investment {% endblock quiz_frame_title %}

{% block quiz_frame_text %} 


<div class="focus"> 
Since 

<span id="blank">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span> are made up</div>
founders shouldn't care too much about them. That's not the part to focus on. 

{% endblock quiz_frame_text %}



