


{% extends "item_base.html" %}

{% block title %}Startupping - Corporations{% endblock title %}

{% block quiz_frame_logo %}<div class="quiz_frame_logo" id="pg">
<img src="/static/html/img/su-logo.gif"/>
</div>
{% endblock %}

{% block quiz_frame_source %}  {% endblock quiz_frame_source %}

{% block quiz_frame_title %} Incorporating {% endblock quiz_frame_title %}

{% block quiz_frame_text %} 

<div class="focus"> 

A
<span id="blank">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span> is typically substantially more favorable on an after tax basis</div>
(including use of dividends to offset wage income to shareholders) and operates with much more settled law.

{% endblock quiz_frame_text %}



