


{% extends "item_base.html" %}

{% block title %} Wikia - E-Waste {% endblock title %}

{% block quiz_frame_logo %}<div class="quiz_frame_logo" id="wikia">
<img src="/static/html/img/wikiagreen-logo.png"/>
</div>
{% endblock %}

{% block quiz_frame_source %} 
Wikia
<br/>
E-Waste

{% endblock quiz_frame_source %}

{% block quiz_frame_title %}E-Waste{% endblock quiz_frame_title %}

{% block quiz_frame_text %} 
 
<div class="focus">  
<span id="blank"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>
 helps public and private sector purchasers 
</div> evaluate, compare, and choose computers, notebooks, and monitors based on environmental attributes.
{% endblock quiz_frame_text %}








