


{% extends "item_base.html" %}

{% block title %}Wikipedia - Stock {% endblock title %}

{% block quiz_frame_logo %}<div class="quiz_frame_logo" id="knol">
<img src="/static/html/img/wiki-logo.png"/>
</div>
{% endblock %}

{% block quiz_frame_source %} 
From Wikipedia, <br/> the free encyclopedia. 

{% endblock quiz_frame_source %}

{% block quiz_frame_title %}Options{% endblock quiz_frame_title %}

{% block quiz_frame_text %} 

<div class="focus"> 
<span id="blank"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>shares in the U.S. normally carry a call provision, 
</div>enabling the issuing corporation to repurchase the share at its (usually limited) discretion.

{% endblock quiz_frame_text %}








