


{% extends "item_base.html" %}

{% block title %}Quiz Item - Performance-Based Advertising {% endblock title %}

{% block quiz_frame_logo %}<div class="quiz_frame_logo" id="knol">
<img src="/static/html/img/wiki-logo.png"/>
</div>
{% endblock %}

{% block quiz_frame_source %} 
From Wikipedia, <br/> the free encyclopedia. 

{% endblock quiz_frame_source %}

{% block quiz_frame_title %} Advertising {% endblock quiz_frame_title %}

{% block quiz_frame_text %} 

A small but growing number of sites are starting to offer plans on a "Pay per call" basis. 


<div class="focus">  The user can click a button to place a 
<br/><span id="blank">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>
</div>

call, or to request a call from the advertiser. 

{% endblock quiz_frame_text %}








