


{% extends "item_base.html" %}

{% block title %}Wikipedia - Stock {% endblock title %}

{% block quiz_frame_logo %}<div class="quiz_frame_logo" id="knol">
<img src="/static/html/img/wiki-logo.png"/>
</div>
{% endblock %}

{% block quiz_frame_source %} 
From Wikipedia, <br/> the free encyclopedia. 

{% endblock quiz_frame_source %}

{% block quiz_frame_title %}Taxation{% endblock quiz_frame_title %}

{% block quiz_frame_text %} 
Ordinary income is usually characterized 
<div class='focus'> as income other than
<span id="blank"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span> 
</div>

{% endblock quiz_frame_text %}








