


{% extends "item_base.html" %}

{% block title %}Wikipedia - Stock {% endblock title %}

{% block quiz_frame_logo %}<div class="quiz_frame_logo" id="knol">
<img src="/static/html/img/wiki-logo.png"/>
</div>
{% endblock %}

{% block quiz_frame_source %} 
From Wikipedia, <br/> the free encyclopedia. 

{% endblock quiz_frame_source %}

{% block quiz_frame_title %}Investment{% endblock quiz_frame_title %}

{% block quiz_frame_text %} 
'Poison pill' is sometimes used more broadly
<div class='focus'>  to describe other types of
<span id="blank"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span> defenses that involve 
</div>the target taking some action that harms both target and bidder.

{% endblock quiz_frame_text %}








