


{% extends "item_base.html" %}

{% block title %}Quiz Item - Bayesian Networks {% endblock title %}

{% block quiz_frame_logo %}<div class="quiz_frame_logo" id="knol">
<img src="/static/html/img/wiki-logo.png"/>
</div>
{% endblock %}

{% block quiz_frame_source %} 
From Wikipedia, <br/> the free encyclopedia. 

{% endblock quiz_frame_source %}

{% block quiz_frame_title %}Inference {% endblock quiz_frame_title %}

{% block quiz_frame_text %} 


Classes begin with one or more constructors.    In Python these must be declared with the name __init(self)__  they may also take parameters. 
<div class="focus">  These are the functions that build new objects of a
<br/><span id="blank">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>

type.</div>

{% endblock quiz_frame_text %}








