










{% extends "item_base.html" %}

{% block title %}Quiz Item - Renewable Energy {% endblock title %}

{% block quiz_frame_logo %}<div class="quiz_frame_logo" id="knol">
<img src="/static/html/img/wiki-logo.png"/>
</div>
{% endblock %}



{% block quiz_frame_source %} 
From Wikipedia, <br/> the free encyclopedia. 

{% endblock quiz_frame_source %}

{% block quiz_frame_title %}Energy{% endblock quiz_frame_title %}

{% block quiz_frame_text %} 

Brazil has one of the largest renewable energy programs in the world,
<div class="focus">

 involving production of <br/> <span id="blank">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span> from sugar cane
</div>

{% endblock quiz_frame_text %}



</div>


</div>

</body></html>
