


{% extends "item_base.html" %}

{% block title %} Wikia - Solar Energy {% endblock title %}

{% block quiz_frame_logo %}<div class="quiz_frame_logo" id="wikia">
<img src="/static/html/img/wikiagreen-logo.png"/>
</div>
{% endblock %}

{% block quiz_frame_source %} 
Wikia
<br/>
Solar Energy
{% endblock quiz_frame_source %}

{% block quiz_frame_title %}Solar Energy{% endblock quiz_frame_title %}

{% block quiz_frame_text %} 
 
<div class="focus">  
<span id="blank"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>
</div> systems are based on solar electric cells, which convert solar radiation directly into electricity.
{% endblock quiz_frame_text %}








