/* OverFlows ***************************************************/
/* a b c d e f g h i j k l m n o p q r s t u v w x y z */
*, * * {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

a {
    color: #00ABDE;
}

a:hover {
    color: #007cb3;
}

a img {
    border: 0 !important;
}

strong {
    font-size: 1.1em;
}

ul {
    list-style-type: none;
}

.clear {
    clear: both;
    height: 0;
}

.right {
    float: right;
}

.inline {
    display:inline;
}

.none {
    display: none;
}

.clickable {
    cursor: pointer;
    text-decoration: underline;
}

/* Structure ***************************************************/

body {
    background-color: #FFF;
    color: #333;
    font: normal normal normal 100.01% "Lucida Grande",Tahoma,Arial,sans-serif;
    line-height: 1.3em;
    text-align: justify;
}

#content {
    background: white url(snaptalent/sidelogo.png) no-repeat right bottom;
    height: 480px;
    font-size: 0.7em;
    margin-top:10px;
    width: 698px;
    background-attachment:fixed;
}

#container, .frame {
    height: 480px;
    width: 530px;
}

#container {
    float: left;
    overflow: hidden;
}

.frame {
    margin-bottom: 30px;
    overflow: hidden;
}

.scroll {
    overflow: auto !important;
}

/* Styles ***************************************************/

.padded {
    padding: 15px 20px 20px 20px;
}

h2 {
    margin-bottom: 10px;
}

.star {
    color: red;
}

.seemore {
    font-size: 1.2em;
    color: #fc1a4a !important;
}

/* Header ***************************************************/

#header {
    color: #666;
    height: 50px;
    font-size: 1.1em;
    display:none;
}

#header .padded {
    padding: 12px;
    padding-top: 5px;
}

.title {
    color: #000;
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: -0.01em;
}

.minititle {
    color: #00ABDE;
    font-size: 1.2em;
    font-weight: bold;
}

#description_title{
margin: 0px 0px;
}

h3:hover#description_title{
text-decoration:underline;
}


/* Overview ***************************************************/

#view_overview .padded {
    padding-top: 5px;
    margin: 0 10px;
}

.ovr_logo {
    float: left;
    text-align: right;
    padding-right: 15px;
}

p {
font-size:1.2em;
line-height:1.2em;
margin-top:10px
}

.ovr_title {
    padding-top: 0px;
    float: left;
    line-height: 2.0em;
    text-align: left;
    vertical-align:middle;
    width: auto;
}

.ovr_text {
clear:left;
font-size:1.4em;
line-height:1.2em;
padding-top:17px;
width:470px;
}

.ovr_list {
float:left;
height:110px;
margin-left:210px;
margin-top:-2px;
width:120px;
}

.ovr_apply {
    background-color: #F5F5F5;
    border: 1px solid #BBB;
    clear: left;
    padding: 10px;
}

.ovr_apply input {
    font-size: 2.1em;
    margin: 5px;
}


/* Photos ***************************************************/

#view_images .padded {
    padding: 15px 15px;
}

.bphoto, .rphoto {
    line-height: 0px;
    text-align: center;
}

.rphoto {
    height: 152px;
    overflow: hidden;
}

div.bphoto {
    height: 250px;
    text-align: center;
    vertical-align: top;
    overflow: hidden;
    margin: 0 auto;
}

.photo {
    cursor: pointer;
    margin: 1px;
}

/* Video ***************************************************/

#view_video, #view_seesmic, #view_map {
    padding: 10px 0 10px 10px;
}

/* Daylife ***************************************************/

.quote, .article {
    color: #777;
    line-height: 1.4em;
    margin-bottom: 20px;
}

/* Application ***************************************************/

#view_apply form {
    border: 10px solid #EEE;
    height: 320px;
    margin: 0 auto;
    padding: 15px;
}

.input {
    margin-bottom: 10px;
}

label {
    color: #000;
    font-weight: bold;
}

.input input {
    font-family: 'Georgia';
    font-size: 1.4em;
    width: 400px;
    padding: 2px;
}

.input textarea {
    font-size:1.1em;
    font-family: 'Georgia';
    height: 80px;
    width: 402px;
    padding: 2px;
}

.error_text {
    color: red;
}

/* Sidebar ***************************************************/

#sidebar {
    background: transparent url(snaptalent/sideshadow.png) no-repeat 0px 50px;
    float: right;
    height: 400px;
    width: 168px;
}

#sidebar ul {
    margin: 10px 0;
}

#sidebar ul li {
    border-bottom: 1px dotted #EEE;
    font-size: 1.1em;
    padding: 2px 4px 2px 10px;
    margin-left: 20px;
    margin-bottom: 2px;
}

#sidebar ul li p {
	display: inline;
	margin: 0;
	padding: 0;
}


#bookmark{
	margin-left: 0;
	width: 100px;
}


