/* =========== */
/* = Frame = */
/* =========== */
div.quiz_frame_header
{
        background:#FFFFFF none repeat scroll 0 0;
        border-color:#E0E0E0;
        border-style:solid;
        border-width:3px 1px;
        margin-top:5px;
        height: 50px;
        overflow:hidden;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
}

div.tab
{
-webkit-border-top-right-radius: 18px;
-moz-border-radius-topright:18px;
background-color:#CDCDCD;
border-right:1px solid #CDCDCD;
bottom:1px;
font-variant:small-caps;
font-weight:bold;
height:40px;
line-height:2.2em;
padding-right:23px;
position:absolute;
right:0;
text-shadow:1px 1px 1px #FFFFFF;
width:130px;
z-index:100;
}


img.tab_left
{
        height:40px;
        left:-54px;
        position:absolute;
        top:0;
        width:54px;
}

body.frame_body
{
        background-attachment:scroll;
        background-color:#EDF2F8;
        background-image:none;
        background-position:0 0;
        background-repeat:repeat;
}

div.quiz_frame_logo
{
}

/* custom adjustments for logos */

div#default{

margin: 11px 4px;

}
div#ocw
{
        margin:8px 0 0 5px;
}
div#wiki
{
        margin:2px 0 0 5px;
}

div#knol
{
        margin:2px 0 0 5px;
}
div#django
{
        margin:5px 0 0 5px;
}

div#pq
{
        margin:0px 0 0 52px;
}
div#pg
{
        margin:2px 0 0 5px;
}

div#oreilly
{
        margin:5px 0 0 5px;
}
div#wikia
{
        margin:2px 0 0 5px;
}
div#hfc
{
        margin:2px 0 0 5px;
}

div#freebase
{
        margin:2px 0 0 5px;
}
div.quiz_frame_source
{
        font-size:0.7em;
        height:50px;
        left:280px;
        position:absolute;
        margin-top:5px;
}



div.quiz_frame_content
{
        border:5px solid #DDDDDD;
        height:200px;
        margin-top:10px;
        padding:10px;
        background:#ffffff none repeat scroll 0 0;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
}


div.quiz_frame_title
{
font-family:"Georgia","Lucida Grande","Lucida Sans Unicode","Trebuchet MS",Verdana,Helvetica,sans-serif;
font-size:1.1em;
height:89px;
margin:-70px 0 0 240px;
overflow:hidden;
position:absolute;
text-align:center;
top:40px;
width:250px;
}



/* =========== */
/* = Quiz Items = */
/* =========== */



.focus
{
        margin: 5px 0px;
        background:#FFF8E2 none repeat scroll 0 0;
        /* border-bottom:2px solid #E3D922; */
        text-align:center;
}

#blank
{
        background:#FFFFD1 none repeat scroll 0 0;
        display:block;
        width:100px;
        height:23px;
        border:1px solid #E2C922;
        font-weight:bold;
       margin:auto;
        opacity:0.5;
        /*padding: 0 34px; */
        width:100px;
        text-align:center;
}



div.quiz_intro_title
{
        font-family: "Georgia", "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Verdana, Helvetica, sans-serif;
        font-size:1.3em;
        position: absolute; 

        text-align:center;

        top:110px;
        width:305px;
}

span#quiz_category
{
        color: black;
        font-weight: bold;
}

div.quiz_scroll_container{
width:400px;
top:100px;
left:66px;
	position: absolute;
	/* overflow: hidden; -used for jscrollpane */
	z-index: 1;
	height:190px;
    overflow-y:scroll;

}

div.quiz_frame_text  /* scrollable */
{
        font-family: "Georgia", "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Verdana, Helvetica, sans-serif;
        margin-top:20px;
        text-align:center;
        line-height:1.5em;
        overflow: visible; 
        height: auto; 
        width:355px;
}

#instructions_frame{
height:220px;
}

/* =========== */
/* = Intro = */
/* =========== */


b
{
        color:#400059;
        font-size:1.1em;
}

b:hover

{
        color: #000000;
}




div.quiz_intro_text
{
        font-family:"Georgia","Lucida Grande","Lucida Sans Unicode","Trebuchet MS",Verdana,Helvetica,sans-serif;
        line-height:1.5em;
        margin-left:25px;
        margin-top:10px;
        /* overflow:hidden; */
        text-align:center;
        width:300px;
        top:80px;
}

p.quiz_distributor
{
        font-size:1em;
        margin-bottom:0;
        width:90%;
}

p.quiz_header
{
        /* color:#6E0BC3; */
        font-size:1em;
        font-variant:small-caps;
        line-height:0.8em;
        margin-bottom:5px;
}

li.select_quiz 
{
        display: block;
}

div.quiz_selection
{
        float:left;
        /*
        height:110px;
        margin:2px 0 20px -25px;
        width:305px;
        */
        -moz-border-bottom-colors:  #777 #888 #999 #aaa #bbb #ccc;
        -moz-border-top-colors:     #777 #888 #999 #aaa #bbb #ccc;
        -moz-border-left-colors:    #777 #888 #999 #aaa #bbb #ccc;
        -moz-border-right-colors:   #777 #888 #999 #aaa #bbb #ccc;
        border:10px solid #DDDDDD;
        padding:5px;
        background:#EEEAF8 none repeat scroll 0 0;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
}

div#intro_quiz_selection {
margin:2px 0 20px -30px;
height:110px;
}

div#instructions_quiz_selection {
margin:2px 0 20px -30px;
height:110px;
}

div#instructions2_quiz_selection {
margin:2px 0 20px -25px;
height:110px;
}

div#begin_quiz_quiz_selection{
overflow:hidden;
height:210px;
margin:-20px 0 0 -30px;
}

div#quiz_complete_quiz_selection{
height:265px;
margin:2px 0 20px -20px;
padding:5px;
width:355px;
}


div.quiz_image
{

        height:105px;
        margin-top:5px;
        overflow:hidden;
        width:100px;
        float:left;
}

div.quiz_description
{
        background:#523871 none repeat scroll 0 0; 
        /* background: url(/static/html/img/background.png) repeat-x scroll center top; */
        border:2px solid #CDCDCD;
        color:#EAF2F8;
        overflow:hidden;
        padding:5px;
        text-align:center;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
}

div.hover_example
{
        margin-right:-2px;
        padding:5px;
        text-align:center;
        width:140px;
        margin-left:0px;
        height:120px; 
        width:140px;
        float:right;
}

div.first_example{
margin-top:10px;
}

div.quiz_description_title
{
        font-size:1.5em;
        font-variant:small-caps;
        font-weight:bold;
        line-height:1.2em;
        margin:4px 0 6px;
        text-shadow:2px 2px 2px #000000;
        width:103%;
}


div.quiz_tutorial_text
{
        font-size:1em;
        line-height:1.2em;
        margin-top:0px;
        padding:0 0 0 10px;
        width:90%;
}

div#example_1
{
        margin:10px 0 0 -5px;
        width:95%;
}


div.quiz_description_text
{
        font-size:1.1em;
        line-height:1.2em;
        margin-top:7px;
        padding:0 0 0 10px;
        width:90%;
}

div#quiz_description_panel
{
        font-variant:small-caps;
}

div.begin_quiz
{
        font-size:0.9em;
        line-height:1.2em;
        margin-left:15px;
        margin-top:-7px;
        width:90%;
}
div#choose_profs
{
height:210px;
margin:-20px 0 10px -22px;
overflow:hidden;
}

#profs
{
background:transparent url(/static/html/img/background_250.png) repeat-x scroll center top;
height:300px;
margin-left:-12px;
margin-top:-12px;
width:311px;
}

form#proficiency_choices
{
        margin-left:10px;
        margin-top:25px;
}
form#proficiency_choices input
{
        float: left; 
        margin-left: 50px;
}

form#proficiency_choices span
{
        float:left;
        font-size:1.1em;
        margin-left:5px;
        margin-top:-3px;
}

form span:hover 
{
        color: #DDDDDD;
}

/* =========== */
/* = Score = */
/* =========== */


.score_result
{
        -moz-border-bottom-colors:#EDF2F8 #FFFFFF;
        -moz-border-left-colors:#DDDDDD;
        -moz-border-radius:12px;
        -webkit-border-radius:12px;
        -moz-border-right-colors:#DDDDDD;
        -moz-border-top-colors:#EDF2F8 #FFFFFF;
        background: url(/static/html/img/background_250.png) repeat-x scroll center top;
        border-color:#DDDDDD;
        border-style:solid;
        border-width:12px 8px;
        float:left;
        height:250px;
        margin:-5px 0 0 -4px;
        overflow:hidden;
        width:345px;
}

#score_report_title
{
        margin-left: 40px;
}

.aceometer
{
        float:left;
        margin-left:0;
        margin-top:5px;
}

div.quiz_icon
{
        float:right;
        overflow:hidden;
}
div.score_text
{
        font-size:1.3em;
        margin:50px 0 0 35px;
        width:240px;
}


.score_email
{
        float:left;
        margin:22px 0 10px 23px;
        width:155px;
}

.contact_prompt
{
        font-size:0.9em;
        font-style:italic;
        line-height:1.2em;
        margin:20px 0 -20px 8px;
        width:180px;
}

.add_confirm
{
        font-size:0.9em;
        font-style:italic;
        line-height:1.2em;
        margin:20px 0 -16px 7px;
        width:180px;
}

div.score_result table 
{
        font-variant: inherit;
}

div#end_quiz_panel
{
        background-attachment:scroll;
        background-color:#EDF2F8;
        background-image:none;
        background-position:0 0;
        background-repeat:repeat;
        height:236px;
        width:323px;
}

div#whitewrapper
{
        float:left;
        width:330px;
        background:white none repeat scroll 0 0;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        margin:15px 0 0 7px;
}
