
		<div class="current_admins" id="{{ user_session.unique_identifier }}"> Administrators
		<select size="7">
		{% for member in s.subject.members %}
		{% if member.is_admin %}
		 <option id="{{ member.user.unique_identifier }}">{{ member.user.fullname }}</option>
		{% endif %}		
		 {% endfor %}
		</select>
		{% ifequal s.is_member "admin" %}
		<button id="remove_admin" class="rights"> move <img src="/static/stylesheets/img/utils/purple_next_tiny.png"/></button>
		{% endifequal %}
		</div>
		
		<div class="current_contributors">Contributors
		<select size="7">
		{% for member in s.subject.members %}
		{% if not member.is_admin%}
		 <option id="{{ member.user.unique_identifier }}">{{ member.user.fullname }}</option>
		{% endif %}
		 {% endfor %}
		</select>
		{% ifequal s.is_member "admin" %}
		<button id="make_admin" class="rights"><img src="/static/stylesheets/img/utils/purple_prev_tiny.png"/> move</button>
		{% endifequal %}
		</div>
