
		<div class="middle_level">
		
		
		<div id="total" class="item_count blurb">{{ s.subject.quiz_item_count }}<span>active items</span></div>
		<div id="pending" class="item_count blurb">{{ s.subject.pending_item_count }}<span>pending items</span></div>
		<a href="/edit/{{ s.subject.name }}"> <button class="quiz_items">Manage {{ s.subject.name }} Quiz Items</button></a>
		
		
		
		</div>{# end middlelevel #}
		
		
		
		<div class="lower_level"> 
		
		<div class="admin_rights" id="{{ s.subject.name }}">
		
		{% include "subject/admin_rights.html" %}

       </div>


		<div class="invite_contributors blurb"> <div class="header note">Invite Contributors </div>
		<input type="text" value="Enter an email address"></input> 
<button>Invite</button>
<div class="success info_note" style="display:none;"></div>
		</div>
		
				
		
		</div>{# end lowerlevel #}
		
