		<div id="subject_{{ s.subject.tag }}" class="proficiency_pic selection_box subject_frame">
				{% include "utils/subject_frame.html" %}
				</div>
				<button class='quiz_button'><span class='continue_button'>Take This Quiz</span> <img src='{{ http_host }}/static/stylesheets/img/utils/purple_next_tiny.png'/></button>

				
				{% ifequal s.is_member "admin" %}
				<div class="delete_pictures">
				 {% for img in s.subject.images %}
				 	<div class="proficiency_pic selection_box" id="{{ img.key }}">
				 	 <img width="40" src="{{ http_host }}/image/subject/?img_id={{ img.key }}&size=small"/>
				 	 <button ><img src="/static/stylesheets/img/utils/cancel.png" width="9px"/></button>
				 	</div>
				  {% endfor %}
			</div>
			{% endifequal %}
			
				<div class="mini_loading" style="display:none;"><img width="11" height="11" src="/static/stylesheets/img/utils/mini_loader.gif"/><span>Loading...</span></div>
				
