	<object width="280" height="195"><param name="allowFullScreen" value="true"></param>
	<param name="movie" value="http://www.youtube.com/p/{{ s.subject.video_html }}&hl=en&fs=1&color1=0x2b405b&color2=0x6b8ab6&border=0"></param>
	<embed class="no_drag" src="http://www.youtube.com/p/{{ s.subject.video_html }}&hl=en&fs=1&color1=0x2b405b&color2=0x6b8ab6&border=03" allowfullscreen="true" type="application/x-shockwave-flash" width="280" height="195"></embed></object>



<div class="mini_loading" style="display:none;"><img width="11" height="11" src="/static/stylesheets/img/utils/mini_loader.gif"/><span>Loading...</span></div>

